<div class="content-body" *ngIf="displayForm">
    <section id="basic-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-basic">{{ operation }} RECORD</h4>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">

                            <form class="form" role="form" #form="ngForm" (ngSubmit)="processForm()">
                                <mat-horizontal-stepper [linear]="isLinear" #stepper>
                                    <mat-step #order="ngModelGroup" ngModelGroup="order"
                                        [stepControl]="form.controls.order" [editable]="isEditable">
                                        <ng-template matStepLabel>Step I </ng-template>
                                        <div class="form-body">
                                            <div class="row">
                                                <!-- <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="response">Response</label><i
                                                        class="text-danger">*</i>
                                                        <textarea id="response" name="response"
                                                            class="form-control" placeholder="Enter Response .."
                                                            [(ngModel)]="obj.Response" required
                                                            #Response="ngModel"
                                                            [class.is-invalid]="Response.invalid && Response.touched"></textarea>
                                                        <div *ngIf="Response.invalid && Response.touched">
                                                            <small *ngIf="Response.errors?.required" class="text-danger">Response is Required</small>
                                                        </div>
                                                    </div>
                                                </div> -->
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-md-4 form-control-label" for="">Employee
                                                            Name</label>
                                                        <div class="col-md-8">
                                                            {{obj.FullName}}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-md-4 form-control-label"
                                                            for="">Offence</label>
                                                        <div class="col-md-8">
                                                            {{obj.Offence}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-md-4 form-control-label" for="">Offence
                                                            Description</label>
                                                        <div class="col-md-8">
                                                            {{obj.OffenceDescription}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-md-4 form-control-label" for="">Reply</label>
                                                        <div class="col-md-8">
                                                            {{obj.Response}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="IsAccepted">Accept/Decline Response</label><i
                                                            class="text-danger">*</i>
                                                        <ng-select name="IsAccepted"
                                                            [class.is-invalid]="IsAccepted.invalid &amp;&amp; IsAccepted.touched"
                                                            placeholder="Accept/Decline" [(ngModel)]="obj.IsAccepted"
                                                            #IsAccepted="ngModel" required>
                                                            <ng-option [value]="1">Accept</ng-option>
                                                            <ng-option [value]="2">Decline</ng-option>
                                                        </ng-select>
                                                        <div *ngIf="IsAccepted.invalid &amp;&amp; IsAccepted.touched">
                                                            <small *ngIf="IsAccepted.errors?.required"
                                                                class="text-danger">Response is Required</small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="Sanction">Sanction</label>
                                                        <ng-select [items]="sanction" bindLabel="Sanction"
                                                            bindValue="SanctionID" #SanctionID="ngModel" name="sanction"
                                                            [(ngModel)]="obj.SanctionID"
                                                            [class.is-invalid]="SanctionID.invalid &amp;&amp; SanctionID.touched"
                                                            placeholder="Select Sanction..."></ng-select>
                                                        <!-- <div *ngIf="Sanction.invalid &amp;&amp; Sanction.touched">
                                                            <small *ngIf="Sanction.errors?.required"
                                                                class="text-danger">Offence Sanction is
                                                                Required</small>
                                                        </div>  -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button type="button" (click)="resetForm()" class="btn btn-sm btn-danger">
                                                <i class="fa fa-dot-circle-o"></i> Cancel</button>
                                            <button type="button" matStepperNext
                                                class="btn btn-sm btn-primary pull-right" (click)="onConfirm()"
                                                [disabled]="order.invalid">
                                                <i class="fa fa-dot-circle-o"></i> Next</button>
                                        </div>
                                    </mat-step>
                                    <mat-step #order="ngModelGroup" ngModelGroup="order"
                                        [stepControl]="form.controls.order" [editable]="isEditable">
                                        <ng-template matStepLabel>Step II: Preview </ng-template>
                                        <div class="form-body">
                                            <div class="row">

                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-md-4 form-control-label" for="">Employee
                                                            Name</label>
                                                        <div class="col-md-8">
                                                            {{obj.FullName}}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-md-4 form-control-label"
                                                            for="">Offence</label>
                                                        <div class="col-md-8">
                                                            {{obj.Offence}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-md-4 form-control-label" for="">Offence
                                                            Description</label>
                                                        <div class="col-md-8">
                                                            {{obj.OffenceDescription}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-md-4 form-control-label" for="">Reply</label>
                                                        <div class="col-md-8">
                                                            {{obj.Response}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-md-4 form-control-label"
                                                            for="">Sanction</label>
                                                        <div class="col-md-8">
                                                            {{obj2.Sanction}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button type="button" matStepperPrevious class="btn btn-sm btn-danger">
                                                <i class="fa fa-dot-circle-o"></i> Back</button>
                                            <button type="submit" matStepperNext
                                                class="btn btn-sm btn-primary pull-right" [disabled]="order.invalid">
                                                <i class="fa fa-dot-circle-o"></i> Confirm</button>
                                        </div>
                                    </mat-step>
                                </mat-horizontal-stepper>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="content-body">
    <section id="basic-form-layouts">
        <div class="row match-height">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="box-title">List of Replied Sanctions</h4>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <div class="table-responsive">

                                <dx-data-grid class="dx-card wide-card" [dataSource]="data" [showBorders]="false"
                                    keyExpr="id" [focusedRowEnabled]="true" [focusedRowIndex]="0"
                                    [columnAutoWidth]="true" [columnHidingEnabled]="true">
                                    <dxo-paging [pageSize]="10"></dxo-paging>
                                    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
                                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                                    <dxi-column dataField="FullName" caption="Employee Name">
                                    </dxi-column>
                                    <dxi-column dataField="Offence" caption="Offence">
                                    </dxi-column>
                                    <dxi-column dataField="OffenceDescription" caption="Offence Description">
                                    </dxi-column>
                                    <!-- <dxi-column
                                        dataField="Response"
                                        caption="Response">
                                    </dxi-column> -->

                                    <dxi-column type="buttons">
                                        <dxi-button icon="comment" text="Respond" [onClick]="respond"></dxi-button>
                                    </dxi-column>
                                </dx-data-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>