<div class="content-body" *ngIf="displayForm">
    <section id="basic-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-basic">{{ operation }} RECORD</h4>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">

                            <form class="form" role="form" #form="ngForm" (ngSubmit)="processForm()">
                                <div class="form-body">
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="GradeLevelName"
                                                    [class.text-danger]="GradeLevelName.invalid &amp;&amp; GradeLevelName.touched">Grade
                                                    Level Name</label><i class="text-danger">*</i>
                                                <input type="text" id="GradeLevelName" name="GradeLevelName"
                                                    #GradeLevelName="ngModel" [(ngModel)]="obj.GradeLevelName"
                                                    [class.is-invalid]="GradeLevelName.invalid &amp;&amp; GradeLevelName.touched"
                                                    class="form-control" placeholder="Enter Grade Level Name..."
                                                    required>
                                                <div *ngIf="GradeLevelName.invalid &amp;&amp; GradeLevelName.touched">
                                                    <small *ngIf="GradeLevelName.errors?.required"
                                                        class="text-danger">Grade Level Name is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="GradeLevelCode"
                                                    [class.text-danger]="GradeLevelCode.invalid &amp;&amp; GradeLevelCode.touched">Grade
                                                    Level Code</label><i class="text-danger">*</i>
                                                <input type="text" id="GradeLevelCode" name="GradeLevelCode"
                                                    #GradeLevelCode="ngModel" [(ngModel)]="obj.GradeLevelCode"
                                                    [class.is-invalid]="GradeLevelCode.invalid &amp;&amp; GradeLevelCode.touched"
                                                    class="form-control" placeholder="Enter Grade Level Code..."
                                                    required>
                                                <div *ngIf="GradeLevelCode.invalid &amp;&amp; GradeLevelCode.touched">
                                                    <small *ngIf="GradeLevelCode.errors?.required"
                                                        class="text-danger">Grade Level Code is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="AnnualSalary"
                                                    [class.text-danger]="AnnualSalary.invalid &amp;&amp; AnnualSalary.touched">Annual
                                                    Salary</label><i class="text-danger">*</i>
                                                <input type="text" id="AnnualSalary" name="AnnualSalary"
                                                    #AnnualSalary="ngModel" [(ngModel)]="obj.AnnualSalary"
                                                    [class.is-invalid]="AnnualSalary.invalid &amp;&amp; AnnualSalary.touched"
                                                    class="form-control" placeholder="Enter Annual Salary..." required>
                                                <div *ngIf="AnnualSalary.invalid &amp;&amp; AnnualSalary.touched">
                                                    <small *ngIf="AnnualSalary.errors?.required"
                                                        class="text-danger">Annual Salary is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="CompanyID"
                                                    [class.text-danger]="CompanyID.invalid &amp;&amp; CompanyID.touched">Company</label><i
                                                    class="text-danger">*</i>
                                                    <ng-select [items]="company" bindLabel="CompanyName"
                                                    bindValue="id" #CompanyID="ngModel" [(ngModel)]="obj.CompanyID" id="CompanyID"
                                                    name="CompanyID" [class.is-invalid]="CompanyID.invalid &amp;&amp; CompanyID.touched"
                                                    placeholder="Select Company..." required></ng-select>
                                                <div *ngIf="CompanyID.invalid &amp;&amp; CompanyID.touched">
                                                    <small *ngIf="CompanyID.errors?.required"
                                                        class="text-danger">Company is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="GradeID"
                                                    [class.text-danger]="GradeID.invalid &amp;&amp; GradeID.touched">Grade</label><i
                                                    class="text-danger">*</i>
                                                    <ng-select [items]="grades" bindLabel="GradeName"
                                                    bindValue="id" #GradeID="ngModel" [(ngModel)]="obj.GradeID" id="GradeID"
                                                    name="GradeID" [class.is-invalid]="GradeID.invalid &amp;&amp; GradeID.touched"
                                                    placeholder="Select Grade..." required></ng-select>
                                                <div *ngIf="GradeID.invalid &amp;&amp; GradeID.touched">
                                                    <small *ngIf="GradeID.errors?.required" class="text-danger">Grade is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <button type="button" class="btn btn-warning mr-1" (click)="resetForm()">

                                        Cancel
                                    </button>
                                    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">

                                        {{operation}}
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="content-body">
    <section id="basic-form-layouts">
        <div class="row match-height">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="box-title">List of Grade Levels</h4>
                        <div class="box-tools pull-right">
                            <button class="btn btn-primary btn-sm" type="button" (click)="showForm()"><span
                                    class="fa fa-plus"></span>
                                Add New</button>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <div class="table-responsive">

                                <dx-data-grid class="dx-card wide-card" [dataSource]="data" [showBorders]="false"
                                    keyExpr="id" [focusedRowEnabled]="true" [focusedRowIndex]="0"
                                    [columnAutoWidth]="true" [columnHidingEnabled]="true">
                                    <dxo-paging [pageSize]="10"></dxo-paging>
                                    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
                                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                                    <dxi-column dataField="GradeLevelName" caption="Grade Level Name">
                                    </dxi-column>
                                    <dxi-column dataField="GradeLevelCode" caption="Grade Level Code">
                                    </dxi-column>
                                    <dxi-column dataField="GradeName" caption="Grade">
                                    </dxi-column>
                                    <dxi-column dataField="AnnualSalary" caption="Annual Salary">
                                    </dxi-column>

                                    <dxi-column type="buttons">
                                        <dxi-button icon="edit" text="Edit" [onClick]="loadItem"></dxi-button>
                                    </dxi-column>
                                </dx-data-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>