

<div class="content-body" *ngIf="displayForm">
    <section id="basic-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-basic">{{ operation }} RECORD</h4>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">
                            
                            <form class="form" role="form" #form="ngForm" (ngSubmit)="processForm()">
                                <div class="form-body">
                                    <div class="row">
                                        
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="ApprovedBy"
                                                    [class.text-danger]="ApprovedBy.invalid &amp;&amp; ApprovedBy.touched">Approved By</label><i
                                                    class="text-danger">*</i>
                                                 <input type="number" id="ApprovedBy"
                                                    name="ApprovedBy" #ApprovedBy="ngModel"
                                                    [(ngModel)]="obj.ApprovedBy"
                                                    [class.is-invalid]="ApprovedBy.invalid &amp;&amp; ApprovedBy.touched"
                                                    class="form-control"
                                                    placeholder="Enter Approved By..."
                                                    required>
                                                <div *ngIf="ApprovedBy.invalid &amp;&amp; ApprovedBy.touched">
                                                    <small *ngIf="ApprovedBy.errors?.required"
                                                        class="text-danger">Approved By is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="Comment"
                                                    [class.text-danger]="Comment.invalid &amp;&amp; Comment.touched">Comment</label><i
                                                    class="text-danger">*</i>
                                                 <input type="text" id="Comment"
                                                    name="Comment" #Comment="ngModel"
                                                    [(ngModel)]="obj.Comment"
                                                    [class.is-invalid]="Comment.invalid &amp;&amp; Comment.touched"
                                                    class="form-control"
                                                    placeholder="Enter Comment..."
                                                    required>
                                                <div *ngIf="Comment.invalid &amp;&amp; Comment.touched">
                                                    <small *ngIf="Comment.errors?.required"
                                                        class="text-danger">Comment is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="RequestID"
                                                    [class.text-danger]="RequestID.invalid &amp;&amp; RequestID.touched">Request</label><i
                                                    class="text-danger">*</i>
                                                 <input type="number" id="RequestID"
                                                    name="RequestID" #RequestID="ngModel"
                                                    [(ngModel)]="obj.RequestID"
                                                    [class.is-invalid]="RequestID.invalid &amp;&amp; RequestID.touched"
                                                    class="form-control"
                                                    placeholder="Enter Request..."
                                                    required>
                                                <div *ngIf="RequestID.invalid &amp;&amp; RequestID.touched">
                                                    <small *ngIf="RequestID.errors?.required"
                                                        class="text-danger">Request is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="NextApprovalID"
                                                    [class.text-danger]="NextApprovalID.invalid &amp;&amp; NextApprovalID.touched">Next Approval</label><i
                                                    class="text-danger">*</i>
                                                 <input type="number" id="NextApprovalID"
                                                    name="NextApprovalID" #NextApprovalID="ngModel"
                                                    [(ngModel)]="obj.NextApprovalID"
                                                    [class.is-invalid]="NextApprovalID.invalid &amp;&amp; NextApprovalID.touched"
                                                    class="form-control"
                                                    placeholder="Enter Next Approval..."
                                                    required>
                                                <div *ngIf="NextApprovalID.invalid &amp;&amp; NextApprovalID.touched">
                                                    <small *ngIf="NextApprovalID.errors?.required"
                                                        class="text-danger">Next Approval is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="ApprovalInstancesID"
                                                    [class.text-danger]="ApprovalInstancesID.invalid &amp;&amp; ApprovalInstancesID.touched">Approval Instances</label><i
                                                    class="text-danger">*</i>
                                                 <input type="number" id="ApprovalInstancesID"
                                                    name="ApprovalInstancesID" #ApprovalInstancesID="ngModel"
                                                    [(ngModel)]="obj.ApprovalInstancesID"
                                                    [class.is-invalid]="ApprovalInstancesID.invalid &amp;&amp; ApprovalInstancesID.touched"
                                                    class="form-control"
                                                    placeholder="Enter Approval Instances..."
                                                    required>
                                                <div *ngIf="ApprovalInstancesID.invalid &amp;&amp; ApprovalInstancesID.touched">
                                                    <small *ngIf="ApprovalInstancesID.errors?.required"
                                                        class="text-danger">Approval Instances is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="ApprovalProcessModuleID"
                                                    [class.text-danger]="ApprovalProcessModuleID.invalid &amp;&amp; ApprovalProcessModuleID.touched">Approval Process Module</label><i
                                                    class="text-danger">*</i>
                                                 <input type="number" id="ApprovalProcessModuleID"
                                                    name="ApprovalProcessModuleID" #ApprovalProcessModuleID="ngModel"
                                                    [(ngModel)]="obj.ApprovalProcessModuleID"
                                                    [class.is-invalid]="ApprovalProcessModuleID.invalid &amp;&amp; ApprovalProcessModuleID.touched"
                                                    class="form-control"
                                                    placeholder="Enter Approval Process Module..."
                                                    required>
                                                <div *ngIf="ApprovalProcessModuleID.invalid &amp;&amp; ApprovalProcessModuleID.touched">
                                                    <small *ngIf="ApprovalProcessModuleID.errors?.required"
                                                        class="text-danger">Approval Process Module is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <button type="button" class="btn btn-warning mr-1" (click)="resetForm()">

                                        Cancel
                                    </button>
                                    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">

                                        {{operation}}
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="content-body">
    <section id="basic-form-layouts">
        <div class="row match-height">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="box-title">List of Approval Credit Scoring</h4>
                        <div class="box-tools pull-right">
                            <button class="btn btn-primary btn-sm" type="button" (click)="showForm()"><span
                                    class="fa fa-plus"></span>
                                Add New</button>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <div class="table-responsive">

                                <dx-data-grid class="dx-card wide-card" [dataSource]="data" [showBorders]="false"
                                    keyExpr="id" [focusedRowEnabled]="true" [focusedRowIndex]="0"
                                    [columnAutoWidth]="true" [columnHidingEnabled]="true">
                                    <dxo-paging [pageSize]="10"></dxo-paging>
                                    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
                                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                                    <dxi-column
                                        dataField="ApprovedBy"
                                        caption="Approved By">
                                    </dxi-column>
                                    <dxi-column
                                        dataField="Comment"
                                        caption="Comment">
                                    </dxi-column>
                                    <dxi-column
                                        dataField="RequestID"
                                        caption="Request">
                                    </dxi-column>
                                    <dxi-column
                                        dataField="NextApprovalID"
                                        caption="NextApproval">
                                    </dxi-column>
                                    <dxi-column
                                        dataField="ApprovalInstancesID"
                                        caption="Approval Instances">
                                    </dxi-column>
                                    <dxi-column
                                        dataField="ApprovalProcessModuleID"
                                        caption="Approval Process Module">
                                    </dxi-column>
                                    
                                        <dxi-column type="buttons">
                                            <dxi-button icon="edit" text="Edit" [onClick]="loadItem"></dxi-button>
                                        </dxi-column>
                                </dx-data-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

