<section id="text-alignment">
    <div class="row tct">
      <div class="col-lg-7 col-md-7">
          <div class="card">
            <div class="prjmbg">
                <div class="card-content">
                    <div class="card-body">
                        <h4 class="modt">Project Management</h4>
                    </div>
                </div>
            </div>
          </div>
      </div>
      <div class="col-lg-5 col-md-5">
        <div class="card">
            <div class="dsbg">
                <div class="card-content">
                    <div class="card-body">
                      <h4 class="modt">Designs</h4>
                    </div>
                  </div>
            </div>
        </div>

        <div class="card">
            <div class="tskbg">
                <div class="card-content">
                    <div class="card-body">
                      <h4 class="modt">Task</h4>
                    </div>
                  </div>
            </div>
        </div>

        <div class="card">
            <div class="rfibg">
                <div class="card-content">
                    <div class="card-body">
                      <h4 class="modt">RFI</h4>
                    </div>
                  </div>
            </div>
        </div>
      </div>
    </div>
</section>