.bmar{
	margin-bottom: 30px;
}

.content-wrapper {
	padding: 0 100px;
  }
  
  .card-body {
	display: flex !important;
	padding: 20px 1rem !important;
  }
  
  .card-content{
	min-height: 90px;
  }
  
  .card-text {
	margin-bottom: 0;
	font-size: 13px;
  }
  
  .dropic{
	border: 1px solid white;
	border-radius: 50px;
	background: white;
	box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.09), 0 15px 32px 0 rgba(0, 0, 0, 0.06);
  }
  
  .modimg{
	font-size: 40px;
	width: 40%;
	text-align: right;
  }
  
  .pdl{
  
	padding-left: 0px !important;
  }
  
  
  
  .teamt{
	font-size: 55px;
	color: white;
	font-weight: 800;
	line-height: 60px;
	text-align: center;
  }
  
  .teamsub{
	color: white;
	margin-top: 15px;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
  }
  
  
  .modt{
	font-weight: 400;
	letter-spacing: 0.03rem;
	font-size: 18px;
	margin-bottom: 0.60rem;
	width: 60%;
	font-family: Segoe UI !important;
  }
  
  
  
  .flip-box {
	  background-color: transparent;
	  width: 100%;
	  height: 90px;
	  border: none;
	  perspective: 1000px;
	  margin-top: 30px;
	}
	 
	
	.flip-box-inner {
	  position: relative;
	  width: 100%;
	  height: 100%;
	  /* text-align: center; */
	  transition: transform 0.8s;
	  transform-style: preserve-3d;
	  
	}
	
	.flip-box:hover .flip-box-inner {
	  transform: rotateY(180deg);
	  
	}
	
	.flip-box-front, .flip-box-back {
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  -webkit-backface-visibility: hidden;
	  backface-visibility: hidden;
	  box-shadow: 0 6px 0px 0 rgba(0, 0, 0, 0.01), 0 15px 32px 0 rgba(0, 0, 0, 0.06);
	  border-radius: 5px;
	}
	
	.flip-box-front {
	  background-color: #fff;
	  color: black;
	}
	
	.flip-box-back {
	  background-color: transparent;
	  color: rgb(255, 255, 255);
	  transform: rotateY(180deg);
	  overflow: hidden;
	  transition: 0.2s;
		cursor: pointer;
	}
  
  
  .flip-box-back:hover{
	  color: rgb(255, 255, 255);
	  /* box-shadow: 0 0 20px #c514e0; */
	  /* background: #c514e0; */
	  transition-delay: 1s;
  }
  
  span{
	  position: absolute;
	  display: block;
	  transition: 1s all ease-in-out;
  }
  
  span:nth-child(1){
	  top:0;
	  left:-100%;
	  width: 100%;
	  height: 2px;
	  background: #FD5B13;
  }
  
  .flip-box-back:hover span:nth-child(1){
	  left: 	0%;
	  transition: 1.5s;
	  transition-delay: .20s;
  }
  
  span:nth-child(3){
	  bottom:0;
	  right:-100%;
	  width: 100%;
	  height: 2px;
	  background: #FD5B13;
  }
  
  .flip-box-back:hover span:nth-child(3){
	  right: 	0%;
	  transition: 1.5s;
	  transition-delay: .20s;
  }
  
  span:nth-child(2){
	  top:-100%;
	  right:0;
	  width: 2px;
	  height: 100%;
	  background: #FD5B13;
  }
  
  .flip-box-back:hover span:nth-child(2){
	  top: 	100%;
	  transition: 1s;
  }
  
  span:nth-child(4){
	  bottom:-100%;
	  left:0;
	  width: 2px;
	  height: 100%;
	  background: #FD5B13;
  }
  
  .flip-box-back:hover span:nth-child(4){
	  bottom:	100%;
	  transition: 1s;
  }
  
  .hrbg{
	background-image: linear-gradient(to right, rgb(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)), url(../../../assets/img/dash/hr.jpg);
	background-size: cover;
  }
  
  .pmgbg{
	background-image: linear-gradient(to right, rgb(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)), url(../../../assets/img/dash/pmbg.jpg);
	background-size: cover;
  }

  .actbg{
	background-image: linear-gradient(to right, rgb(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)), url(../../../assets/img/dash/account.jpg);
	background-size: cover;
  }

  .invbg{
	background-image: linear-gradient(to right, rgb(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)), url(../../../assets/img/dash/inventory.jpg);
	background-size: cover;
  }

  .lgmbg{
	background-image: linear-gradient(to right, rgb(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)), url(../../../assets/img/dash/logistics.jpg);
	background-size: cover;
  }

  .pmgbg{
	background-image: linear-gradient(to right, rgb(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)), url(../../../assets/img/dash/purchase.jpg);
	background-size: cover;
  }

  .rpbg{
	background-image: linear-gradient(to right, rgb(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)), url(../../../assets/img/dash/report.jpg);
	background-size: cover;
  }

  .tlcbg{
	background-image: linear-gradient(to right, rgb(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)), url(../../../assets/img/dash/livechat.jpg);
	background-size: cover;
  }

  .ssbg{
	background-image: linear-gradient(to right, rgb(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)), url(../../../assets/img/dash/self.jpg);
	background-size: cover;
  }