

<div class="content-body" *ngIf="displayForm">
    <section id="basic-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-basic">{{ operation }} RECORD</h4>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">
                            
                            <form class="form" role="form" #form="ngForm" (ngSubmit)="processForm()">
                                <div class="form-body">
                                    <div class="row">
                                        
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="PayrollPeriodID"
                                                    [class.text-danger]="PayrollPeriodID.invalid &amp;&amp; PayrollPeriodID.touched">Payroll Period</label><i
                                                    class="text-danger">*</i>
                                                    <ng-select [items]="PayrollPeriod" bindLabel="PayrollPeriod" bindValue="id" #PayrollPeriodID="ngModel" name="PayrollPeriodID" [(ngModel)]="obj.PayrollPeriodID" [class.is-invalid]="PayrollPeriodID.invalid &amp;&amp; PayrollPeriodID.touched" class="form-control" placeholder="Select Payroll Period..." required></ng-select>
                                                <div *ngIf="PayrollPeriodID.invalid &amp;&amp; PayrollPeriodID.touched">
                                                    <small *ngIf="PayrollPeriodID.errors?.required"
                                                        class="text-danger">Payroll Period is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="InstanceTypeID"
                                                    [class.text-danger]="InstanceTypeID.invalid &amp;&amp; InstanceTypeID.touched">Instance Type</label><i
                                                    class="text-danger">*</i>
                                                 <input type="number" id="InstanceTypeID"
                                                    name="InstanceTypeID" #InstanceTypeID="ngModel"
                                                    [(ngModel)]="obj.InstanceTypeID"
                                                    [class.is-invalid]="InstanceTypeID.invalid &amp;&amp; InstanceTypeID.touched"
                                                    class="form-control"
                                                    placeholder="Enter Instance Type..."
                                                    required>
                                                <div *ngIf="InstanceTypeID.invalid &amp;&amp; InstanceTypeID.touched">
                                                    <small *ngIf="InstanceTypeID.errors?.required"
                                                        class="text-danger">Instance Type is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="GeneratedBy"
                                                    [class.text-danger]="GeneratedBy.invalid &amp;&amp; GeneratedBy.touched">Generated By</label><i
                                                    class="text-danger">*</i>
                                                 <input type="text" id="GeneratedBy"
                                                    name="GeneratedBy" #GeneratedBy="ngModel"
                                                    [(ngModel)]="obj.GeneratedBy"
                                                    [class.is-invalid]="GeneratedBy.invalid &amp;&amp; GeneratedBy.touched"
                                                    class="form-control"
                                                    placeholder="Enter Generated By..."
                                                    required>
                                                <div *ngIf="GeneratedBy.invalid &amp;&amp; GeneratedBy.touched">
                                                    <small *ngIf="GeneratedBy.errors?.required"
                                                        class="text-danger">Generated By is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="DateGenerated"
                                                    [class.text-danger]="DateGenerated.invalid &amp;&amp; DateGenerated.touched">Date Generated</label><i
                                                    class="text-danger">*</i>
                                                 <input type="text" id="DateGenerated"
                                                    name="DateGenerated" #DateGenerated="ngModel"
                                                    [(ngModel)]="obj.DateGenerated"
                                                    [class.is-invalid]="DateGenerated.invalid &amp;&amp; DateGenerated.touched"
                                                    class="form-control"
                                                    placeholder="Enter Date Generated..."
                                                    required>
                                                <div *ngIf="DateGenerated.invalid &amp;&amp; DateGenerated.touched">
                                                    <small *ngIf="DateGenerated.errors?.required"
                                                        class="text-danger">Date Generated is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <button type="button" class="btn btn-warning mr-1" (click)="resetForm()">

                                        Cancel
                                    </button>
                                    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">

                                        {{operation}}
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="content-body">
    <section id="basic-form-layouts">
        <div class="row match-height">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="box-title">List of Payrollinstances</h4>
                        <div class="box-tools pull-right">
                            <button class="btn btn-primary btn-sm" type="button" (click)="showForm()"><span
                                    class="fa fa-plus"></span>
                                Add New</button>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <div class="table-responsive">

                                <dx-data-grid class="dx-card wide-card" [dataSource]="data" [showBorders]="false"
                                    keyExpr="id" [focusedRowEnabled]="true" [focusedRowIndex]="0"
                                    [columnAutoWidth]="true" [columnHidingEnabled]="true">
                                    <dxo-paging [pageSize]="10"></dxo-paging>
                                    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
                                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                                    <dxi-column
                                        dataField="PayrollPeriodID"
                                        caption="Payroll Period ID">
                                    </dxi-column>
                                    <dxi-column
                                        dataField="InstanceTypeID"
                                        caption="Instance Type ID">
                                    </dxi-column>
                                    <dxi-column
                                        dataField="GeneratedBy"
                                        caption="Generated By">
                                    </dxi-column>
                                    <dxi-column
                                        dataField="DateGenerated"
                                        caption="Date Generated">
                                    </dxi-column>
                                    
                                        <dxi-column type="buttons">
                                            <dxi-button icon="edit" text="Edit" [onClick]="loadItem"></dxi-button>
                                        </dxi-column>
                                </dx-data-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

