<div class="content-body">
    <section id="basic-form-layouts">
        <div class="row match-height">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="box-title">List of Job Interviews</h4>
                        <div class="box-tools pull-right">
                            <button class="btn btn-primary btn-sm" type="button"
                                routerLink="/recruitment/jobinterview"><span class="fa fa-plus"></span>
                                Add New</button>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <div class="table-responsive">

                                <dx-data-grid class="dx-card wide-card" [dataSource]="data" [showBorders]="false"
                                    keyExpr="id" [focusedRowEnabled]="true" [focusedRowIndex]="0"
                                    [columnAutoWidth]="true" [columnHidingEnabled]="true">
                                    <dxo-paging [pageSize]="10"></dxo-paging>
                                    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
                                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                                    <dxi-column dataField="Title" caption="Job Vacancy">
                                    </dxi-column>
                                    <!-- <dxi-column dataField="Applicant" caption="Applicant">
                                    </dxi-column> -->
                                    <dxi-column dataField="Description" caption="Description">
                                    </dxi-column>
                                    <dxi-column dataField="DateofShortlist" caption="Date of Shortlist">
                                    </dxi-column>

                                    <!-- <dxi-column type="buttons">
                                        <dxi-button icon="edit" text="Edit" [onClick]="loadItem"></dxi-button>
                                    </dxi-column> -->
                                </dx-data-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>