<!--  -->
<div class="content-body" *ngIf="displayForm">
  <section id="basic-form-layouts">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title" id="horz-layout-basic">{{ operation }} RECORD</h4>
          </div>
          <div class="card-content collpase show">
            <div class="card-body">
              <form class="form" role="form" #form="ngForm" (ngSubmit)="processForm()">
                <div class="form-body">
                  <div class="row">

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="EmployeeID"
                          [class.text-danger]="EmployeeID.invalid &amp;&amp; EmployeeID.touched">Employee</label><i
                          class="text-danger">*</i>
                        <ng-select [items]="employee" bindLabel="FullName" bindValue="id" #EmployeeID="ngModel"
                          name="EmployeeID" [(ngModel)]="obj.EmployeeID"
                          [class.is-invalid]="EmployeeID.invalid &amp;&amp; EmployeeID.touched"
                          placeholder="Select Employee..." required></ng-select>
                        <div *ngIf="EmployeeID.invalid &amp;&amp; EmployeeID.touched">
                          <small *ngIf="EmployeeID.errors?.required" class="text-danger">Employee is
                            Required</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="LicenseNumber"
                          [class.text-danger]="LicenseNumber.invalid &amp;&amp; LicenseNumber.touched">License
                          Number</label><i class="text-danger">*</i>
                        <input type="text" id="LicenseNumber" name="LicenseNumber" #LicenseNumber="ngModel"
                          [(ngModel)]="obj.LicenseNumber"
                          [class.is-invalid]="LicenseNumber.invalid &amp;&amp; LicenseNumber.touched"
                          class="form-control" placeholder="Enter License Number..." required>
                        <div *ngIf="LicenseNumber.invalid &amp;&amp; LicenseNumber.touched">
                          <small *ngIf="LicenseNumber.errors?.required" class="text-danger">License Number is
                            Required</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="IssueDate"
                          [class.text-danger]="IssueDate.invalid &amp;&amp; IssueDate.touched">Issue Date</label><i
                          class="text-danger">*</i>
                        <input type="date" id="IssueDate" name="IssueDate" #IssueDate="ngModel"
                          [(ngModel)]="obj.IssueDate"
                          [class.is-invalid]="IssueDate.invalid &amp;&amp; IssueDate.touched" class="form-control"
                          placeholder="Enter Issue Date..." required>
                        <div *ngIf="IssueDate.invalid &amp;&amp; IssueDate.touched">
                          <small *ngIf="IssueDate.errors?.required" class="text-danger">Issue Date is
                            Required</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="ExpirationDate"
                          [class.text-danger]="ExpirationDate.invalid &amp;&amp; ExpirationDate.touched">Expiration
                          Date</label><i class="text-danger">*</i>
                        <input type="date" id="ExpirationDate" name="ExpirationDate" #ExpirationDate="ngModel"
                          [(ngModel)]="obj.ExpirationDate"
                          [class.is-invalid]="ExpirationDate.invalid &amp;&amp; ExpirationDate.touched"
                          class="form-control" placeholder="Enter Expiration Date..." required>
                        <div *ngIf="ExpirationDate.invalid &amp;&amp; ExpirationDate.touched">
                          <small *ngIf="ExpirationDate.errors?.required" class="text-danger">Expiration Date is
                            Required</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="License"
                          [class.text-danger]="License.invalid &amp;&amp; License.touched">License</label><i
                          class="text-danger">*</i>
                        <input type="text" id="License" name="License" #License="ngModel" [(ngModel)]="obj.License"
                          [class.is-invalid]="License.invalid &amp;&amp; License.touched" class="form-control"
                          placeholder="Enter License..." required>
                        <div *ngIf="License.invalid &amp;&amp; License.touched">
                          <small *ngIf="License.errors?.required" class="text-danger">License is
                            Required</small>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="form-actions right">
                  <button type="button" class="btn btn-warning mr-1" (click)="resetForm()">
                    Cancel
                  </button>
                  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
                    {{operation}}
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="content-body">
  <section id="basic-form-layouts">
    <div class="row match-height">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="box-title">List of Vehicle Driver</h4>
            <div class="box-tools pull-right">
              <button class="btn btn-primary btn-sm" type="button" (click)="showForm()"><span class="fa fa-plus"></span>
                Add New</button>
            </div>
          </div>
          <div class="card-content collapse show">
            <div class="card-body">
              <div class="table-responsive">

                <dx-data-grid class="dx-card wide-card" [dataSource]="data" [showBorders]="false" keyExpr="id"
                  [focusedRowEnabled]="true" [focusedRowIndex]="0" [columnAutoWidth]="true"
                  [columnHidingEnabled]="true">
                  <dxo-paging [pageSize]="10"></dxo-paging>
                  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
                  <dxo-filter-row [visible]="true"></dxo-filter-row>
                  <dxi-column dataField="FirstName" caption="First Name">
                  </dxi-column>
                  <dxi-column dataField="LicenseNumber" caption="License Number">
                  </dxi-column>
                  <dxi-column dataField="IssueDate" caption="Issue Date">
                  </dxi-column>
                  <dxi-column dataField="ExpirationDate" caption="Expiration Date">
                  </dxi-column>
                  <dxi-column dataField="License" caption="License">
                  </dxi-column>

                  <dxi-column type="buttons">
                    <dxi-button icon="edit" text="Edit" [onClick]="loadItem"></dxi-button>
                  </dxi-column>
                </dx-data-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
