<!--  -->
<div class="content-body" *ngIf="displayForm">
  <section id="basic-form-layouts">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title" id="horz-layout-basic">{{ operation }} RECORD</h4>
          </div>
          <div class="card-content collpase show">
            <div class="card-body">
              <form class="form" role="form" #form="ngForm" (ngSubmit)="processForm()">
                <div class="form-body">
                  <div class="row">

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="VehicleID"
                          [class.text-danger]="VehicleID.invalid &amp;&amp; VehicleID.touched">Vehicle</label><i
                          class="text-danger">*</i>
                        <ng-select [items]="vehicle" bindLabel="Make" bindValue="id" #VehicleID="ngModel"
                          name="VehicleID" [(ngModel)]="obj.VehicleID"
                          [class.is-invalid]="VehicleID.invalid &amp;&amp; VehicleID.touched"
                          placeholder="Select Vehicle..." required></ng-select>
                        <div *ngIf="VehicleID.invalid &amp;&amp; VehicleID.touched">
                          <small *ngIf="VehicleID.errors?.required" class="text-danger">Vehicle is
                            Required</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="VehicleIncomeCategoryID"
                          [class.text-danger]="VehicleIncomeCategoryID.invalid &amp;&amp; VehicleIncomeCategoryID.touched">Vehicle
                          Income Category</label><i class="text-danger">*</i>
                        <ng-select [items]="vehicleincomecategory" bindLabel="VehicleIncomeCategory" bindValue="id"
                          #VehicleIncomeCategoryID="ngModel" name="VehicleIncomeCategoryID"
                          [(ngModel)]="obj.VehicleIncomeCategoryID"
                          [class.is-invalid]="VehicleIncomeCategoryID.invalid &amp;&amp; VehicleIncomeCategoryID.touched"
                          placeholder="Select Vehicle Income Category..." required></ng-select>
                        <div *ngIf="VehicleIncomeCategoryID.invalid &amp;&amp; VehicleIncomeCategoryID.touched">
                          <small *ngIf="VehicleIncomeCategoryID.errors?.required" class="text-danger">Vehicle Income
                            Category is
                            Required</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="Comment"
                          [class.text-danger]="Comment.invalid &amp;&amp; Comment.touched">Comment</label><i
                          class="text-danger">*</i>
                        <input type="text" id="Comment" name="Comment" #Comment="ngModel" [(ngModel)]="obj.Comment"
                          [class.is-invalid]="Comment.invalid &amp;&amp; Comment.touched" class="form-control"
                          placeholder="Enter Comment..." required>
                        <div *ngIf="Comment.invalid &amp;&amp; Comment.touched">
                          <small *ngIf="Comment.errors?.required" class="text-danger">Comment is
                            Required</small>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="form-actions right">
                  <button type="button" class="btn btn-warning mr-1" (click)="resetForm()">
                    Cancel
                  </button>
                  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
                    {{operation}}
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="content-body">
  <section id="basic-form-layouts">
    <div class="row match-height">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="box-title">List of Vehicle Income Transactions</h4>
            <div class="box-tools pull-right">
              <button class="btn btn-primary btn-sm" type="button" (click)="showForm()"><span class="fa fa-plus"></span>
                Add New</button>
            </div>
          </div>
          <div class="card-content collapse show">
            <div class="card-body">
              <div class="table-responsive">

                <dx-data-grid class="dx-card wide-card" [dataSource]="data" [showBorders]="false" keyExpr="id"
                  [focusedRowEnabled]="true" [focusedRowIndex]="0" [columnAutoWidth]="true"
                  [columnHidingEnabled]="true">
                  <dxo-paging [pageSize]="10"></dxo-paging>
                  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
                  <dxo-filter-row [visible]="true"></dxo-filter-row>
                  <dxi-column dataField="Make" caption="Make">
                  </dxi-column>
                  <dxi-column dataField="VehicleIncomeCategory" caption="Vehicle Income Category">
                  </dxi-column>
                  <dxi-column dataField="Comment" caption="Comment">
                  </dxi-column>

                  <dxi-column type="buttons">
                    <dxi-button icon="edit" text="Edit" [onClick]="loadItem"></dxi-button>
                  </dxi-column>
                </dx-data-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
