<section class="card">
    <div class="content-body">
        <section id="basic-form-layouts">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header d-print-none">
                            <h4 class="card-title" id="horz-layout-basic">Pay Slip Generation</h4>
                        </div>
                        <div class="card-content collpase show">
                            <div class="card-body">
    
                                <form class="form d-print-none" role="form" #form="ngForm" (ngSubmit)="processForm()">
                                    <div class="form-body">
                                        <div class="row">
    
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <div class="col-md-4">
                                                        <label for="PayrollPeriodID"
                                                            [class.text-danger]="PayrollPeriodID.invalid &amp;&amp; PayrollPeriodID.touched">Payroll
                                                            Period <i class=" text-danger">*</i></label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <ng-select [items]="payrollperiod" bindLabel="PayrollPeriod"
                                                            bindValue="id" #PayrollPeriodID="ngModel" name="PayrollPeriodID"
                                                            [(ngModel)]="obj.PayrollID"
                                                            [class.is-invalid]="PayrollPeriodID.invalid &amp;&amp; PayrollPeriodID.touched"
                                                            placeholder="Select Payroll Period..." required></ng-select>
                                                        <div
                                                            *ngIf="PayrollPeriodID.invalid &amp;&amp; PayrollPeriodID.touched">
                                                            <small *ngIf="PayrollPeriodID.errors?.required"
                                                                class="text-danger">Payroll Period is
                                                                Required</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
    
                                        </div>
                                    </div>
                                    <div class="form-actions right">
    
                                        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
    
                                            Pay Slip Generation
                                        </button>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
    <div id="invoice-template" class="card-body breakme" *ngFor="let item of data2">
        <button (click)="onPrint()" class="btn btn-primary d-print-none">Print</button>
        <!-- Invoice Company Details -->
        <div id="invoice-company-details" class="row">
            <div class="col-md-6 col-sm-12 text-center text-md-left">
                <div class="media">
                    <img src="assets/img/print.png" alt="company logo" class="">
                    <!-- <div class="media-body">
                        <ul class="ml-2 px-0 list-unstyled">
                            <li class="text-bold-800">Team Nigeria</li>
                            <li>Central Business District,</li>
                            <li>Abuja</li>
                        </ul>
                    </div> -->
                </div>
            </div>
            <div class="col-md-6 col-sm-12 text-center text-md-right">
                <h2> {{item.data[0].PayrollPeriod | uppercase }} PAY SLIP</h2>


            </div>
        </div>
        <!--/ Invoice Company Details -->

        <!-- Invoice Customer Details -->
        <div id="invoice-customer-details" class="row pt-2">
            <div class="col-sm-12 text-center text-md-left">
                <p class="text-muted">EMPLOYEE INFOMATION</p>
            </div>
            <div class="col-md-6 col-sm-12 text-center text-md-left">
                <ul class="px-0 list-unstyled">
                    <li class="text-bold">Employee Name: {{item.data[0].FullName}}</li>
                    <li>Department: {{item.data[0].DepartmentName}}</li>
                    <li>Grade/Level: {{item.data[0].GradeName}}/{{item.data[0].GradeLevelName}}</li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-12 text-center text-md-right">
                <p><span class="text-muted">Payroll Month: {{ item.data[0].PayrollPeriod }} </span> </p>
            </div>
        </div>
        <!--/ Invoice Customer Details -->

        <!-- Invoice Items Details -->
        <div id="invoice-items-details" class="pt-2">
            <div class="row">
                <div class="table-responsive col-sm-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Earnings</th>
                                <th>Deductions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <table class="table">
                                        <tr *ngFor="let item2 of filterData(item.data, 1), index as i">

                                            <td>
                                                {{item2.SalaryComponent }}
                                            </td>
                                            <td class="text-right">&#8358; {{item2.Amount | number:"1.2-2"}}</td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table class="table">
                                        <tr *ngFor="let item2 of filterData(item.data, 2), index as i">
                                            <td>
                                                {{item2.SalaryComponent }}
                                            </td>
                                            <td class="text-right">&#8358; {{item2.Amount | number:"1.2-2"}}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 col-sm-12 text-center text-md-left">
                    <p class="lead">Payment Methods:</p>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="table-responsive">
                                <table class="table table-borderless table-sm">
                                    <tbody>
                                        <tr>
                                            <td>Bank Name:</td>
                                            <td class="text-right">{{item.data[0].BankName}}</td>
                                        </tr>
                                        <tr>
                                            <td>Account Number:</td>
                                            <td class="text-right">{{item.data[0].BankAccountNumber}}</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12">
                    <p class="lead">Total due</p>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Total Earnings</td>
                                    <td class="text-right">&#8358; {{item.gross | number:"1.2-2"}}</td>
                                </tr>

                                <tr >
                                    <td>Total Deductions</td>
                                    <td class="text-right">&#8358; {{item.deduction | number:"1.2-2"}}</td>
                                </tr>

                                <tr >
                                    <td>Total Relief</td>
                                    <td class="text-right">&#8358; {{item.relief | number:"1.2-2"}}</td>
                                </tr>



                                <tr class="bg-grey bg-lighten-4">
                                    <td class="text-bold-800">Net Pay</td>
                                    <td class="text-bold-800 text-right">&#8358; {{item.netpay | number:"1.2-2"}} </td>
                                </tr>
                                <tr class="bg-grey bg-lighten-4">
                                    <td class="text-bold-800">Net Taxable Pay</td>
                                    <td class="text-bold-800 text-right">&#8358; {{item.nettaxable | number:"1.2-2"}} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center">
                        <p>Authorized person</p>
                        <img class="height-100">
                        
                        <p class="text-muted">For: Managing Director</p>
                    </div>
                </div>
            </div>
        </div>

        
        <!--/ Invoice Footer -->
    </div>
    <!-- {{obj | json}} -->
</section>