

<div class="content-body" *ngIf="displayForm">
    <section id="basic-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-basic">{{ operation }} RECORD</h4>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">
                            
                            <form class="form" role="form" #form="ngForm" (ngSubmit)="processForm()">
                                <div class="form-body">
                                    <div class="row">
                                        
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="PropertyOwner"
                                                    [class.text-danger]="PropertyOwner.invalid &amp;&amp; PropertyOwner.touched">Property Owner</label><i
                                                    class="text-danger">*</i>
                                                 <input type="text" id="PropertyOwner"
                                                    name="PropertyOwner" #PropertyOwner="ngModel"
                                                    [(ngModel)]="obj.PropertyOwner"
                                                    [class.is-invalid]="PropertyOwner.invalid &amp;&amp; PropertyOwner.touched"
                                                    class="form-control"
                                                    placeholder="Enter Property Owner..."
                                                    required>
                                                <div *ngIf="PropertyOwner.invalid &amp;&amp; PropertyOwner.touched">
                                                    <small *ngIf="PropertyOwner.errors?.required"
                                                        class="text-danger">Property Owner is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="Address"
                                                    [class.text-danger]="Address.invalid &amp;&amp; Address.touched">Address</label><i
                                                    class="text-danger">*</i>
                                                 <input type="text" id="Address"
                                                    name="Address" #Address="ngModel"
                                                    [(ngModel)]="obj.Address"
                                                    [class.is-invalid]="Address.invalid &amp;&amp; Address.touched"
                                                    class="form-control"
                                                    placeholder="Enter Address..."
                                                    required>
                                                <div *ngIf="Address.invalid &amp;&amp; Address.touched">
                                                    <small *ngIf="Address.errors?.required"
                                                        class="text-danger">Address is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="TIN"
                                                    [class.text-danger]="TIN.invalid &amp;&amp; TIN.touched">TIN</label><i
                                                    class="text-danger">*</i>
                                                 <input type="text" id="TIN"
                                                    name="TIN" #TIN="ngModel"
                                                    [(ngModel)]="obj.TIN"
                                                    [class.is-invalid]="TIN.invalid &amp;&amp; TIN.touched"
                                                    class="form-control"
                                                    placeholder="Enter TIN..."
                                                    required>
                                                <div *ngIf="TIN.invalid &amp;&amp; TIN.touched">
                                                    <small *ngIf="TIN.errors?.required"
                                                        class="text-danger">TIN is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <button type="button" class="btn btn-warning mr-1" (click)="resetForm()">

                                        Cancel
                                    </button>
                                    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">

                                        {{operation}}
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="content-body">
    <section id="basic-form-layouts">
        <div class="row match-height">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="box-title">List of Property Owner</h4>
                        <div class="box-tools pull-right">
                            <button class="btn btn-primary btn-sm" type="button" (click)="showForm()"><span
                                    class="fa fa-plus"></span>
                                Add New</button>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <div class="table-responsive">

                                <dx-data-grid class="dx-card wide-card" [dataSource]="data" [showBorders]="false"
                                    keyExpr="id" [focusedRowEnabled]="true" [focusedRowIndex]="0"
                                    [columnAutoWidth]="true" [columnHidingEnabled]="true">
                                    <dxo-paging [pageSize]="10"></dxo-paging>
                                    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
                                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                                    <dxi-column
                                        dataField="PropertyOwner"
                                        caption="Property Owner">
                                    </dxi-column>
                                    <dxi-column
                                        dataField="Address"
                                        caption="Address">
                                    </dxi-column>
                                    <dxi-column
                                        dataField="TIN"
                                        caption="TIN">
                                    </dxi-column>
                                    
                                        <dxi-column type="buttons">
                                            <dxi-button icon="edit" text="Edit" [onClick]="loadItem"></dxi-button>
                                        </dxi-column>
                                </dx-data-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

