.cd1{
    width: 4.33333%;
}

.cd2{
    width: 4.33333%;

}

.cd3{
    width: 25%;

}

.cd4{
    width: 33.33333%;

}

.cd5{
    width: 25%;

}

.cd11{
    width: 5%;
}

.cd22{
    width: 30%;

}

.cd33{
    width: 45%;

}

.cd44{
    width: 20%;

}