
<div class="content-body" *ngIf="displayForm">
  <section id="basic-form-layouts">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title" id="horz-layout-basic">{{ operation }} RECORD</h4>
          </div>
          <div class="card-content collpase show">
            <div class="card-body">
              <form class="form" role="form" #form="ngForm" (ngSubmit)="processForm()">
                <div class="form-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="PropertyApplicantID"
                          [class.text-danger]="PropertyApplicantID.invalid &amp;&amp; PropertyApplicantID.touched">Property Applicant
                          </label><i class="text-danger">*</i>
                        <ng-select [items]="Employee" bindLabel="FullName" bindValue="EmployeeID"
                          #PropertyApplicantID="ngModel" name="PropertyApplicantID"
                          [(ngModel)]="obj.PropertyApplicantID"
                          [class.is-invalid]="PropertyApplicantID.invalid &amp;&amp; PropertyApplicantID.touched"
                          placeholder="Select PropertyApplicant..." required></ng-select>
                        <div *ngIf="PropertyApplicantID.invalid &amp;&amp; PropertyApplicantID.touched">
                          <small *ngIf="PropertyApplicantID.errors?.required" class="text-danger">PropertyApplicant ID
                            is
                            Required</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="PropertyID"
                          [class.text-danger]="PropertyID.invalid &amp;&amp; PropertyID.touched">Property</label><i
                          class="text-danger">*</i>
                        <ng-select [items]="property" bindLabel="PropertyName" bindValue="id" #PropertyID="ngModel"
                          name="PropertyID" [(ngModel)]="obj.PropertyID"
                          [class.is-invalid]="PropertyID.invalid &amp;&amp; PropertyID.touched"
                          placeholder="Select Property..." required></ng-select>
                        <div *ngIf="PropertyID.invalid &amp;&amp; PropertyID.touched">
                          <small *ngIf="PropertyID.errors?.required" class="text-danger">Property is
                            Required</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="PropertyPaymentTypeID"
                          [class.text-danger]="PropertyPaymentTypeID.invalid &amp;&amp; PropertyPaymentTypeID.touched">Payment Type
                          </label><i class="text-danger">*</i>
                        <ng-select [items]="PropertyPaymentType" bindLabel="PropertyPaymentType" bindValue="PropertyPaymentTypeID" #PropertyPaymentTypeID="ngModel"
                          name="PropertyPaymentTypeID" [(ngModel)]="obj.PropertyPaymentTypeID"
                          [class.is-invalid]="PropertyPaymentTypeID.invalid &amp;&amp; PropertyPaymentTypeID.touched"
                          placeholder="Select Payment Plan..." required></ng-select>
                        <div *ngIf="PropertyPaymentTypeID.invalid &amp;&amp; PropertyPaymentTypeID.touched">
                          <small *ngIf="PropertyPaymentTypeID.errors?.required" class="text-danger">Payment Type is
                            Required</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="PaymentAmount"
                          [class.text-danger]="PaymentAmount.invalid &amp;&amp; PaymentAmount.touched">Payment Amount</label><i
                          class="text-danger">*</i>
                        <input type="number" id="PaymentAmount" name="PaymentAmount" #PaymentAmount="ngModel"
                          [(ngModel)]="obj.PaymentAmount"
                          [class.is-invalid]="PaymentAmount.invalid &amp;&amp; PaymentAmount.touched"
                          class="form-control" placeholder="Enter PaymentAmount..." required>
                        <div *ngIf="PaymentAmount.invalid &amp;&amp; PaymentAmount.touched">
                          <small *ngIf="PaymentAmount.errors?.required" class="text-danger">Payment Amount is
                            Required</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="InitialDeposit"
                          [class.text-danger]="InitialDeposit.invalid &amp;&amp; InitialDeposit.touched">Initial
                          Deposit</label><i class="text-danger">*</i>
                        <input type="number" id="InitialDeposit" name="InitialDeposit" #InitialDeposit="ngModel"
                          [(ngModel)]="obj.InitialDeposit"
                          [class.is-invalid]="InitialDeposit.invalid &amp;&amp; InitialDeposit.touched"
                          class="form-control" placeholder="Enter Initial Deposit..." required>
                        <div *ngIf="InitialDeposit.invalid &amp;&amp; InitialDeposit.touched">
                          <small *ngIf="InitialDeposit.errors?.required" class="text-danger">Initial Deposit is
                            Required</small>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="form-actions right">
                  <button type="button" class="btn btn-warning mr-1" (click)="resetForm()">
                    Cancel
                  </button>
                  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
                    {{operation}}
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="content-body">
  <section id="basic-form-layouts">
    <div class="row match-height">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="box-title">List of Property Application</h4>
            <div class="box-tools pull-right">
              <button class="btn btn-primary btn-sm" type="button" (click)="showForm()"><span class="fa fa-plus"></span>
                Add New</button>
            </div>
          </div>
          <div class="card-content collapse show">
            <div class="card-body">
              <div class="table-responsive">

                <dx-data-grid class="dx-card wide-card" [dataSource]="data" [showBorders]="false" keyExpr="id"
                  [focusedRowEnabled]="true" [focusedRowIndex]="0" [columnAutoWidth]="true"
                  [columnHidingEnabled]="true">
                  <dxo-paging [pageSize]="10"></dxo-paging>
                  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
                  <dxo-filter-row [visible]="true"></dxo-filter-row>
                  <dxi-column dataField="Employee" caption="Employee">
                  </dxi-column>
                  <dxi-column dataField="PropertyName" caption="Property Name">
                  </dxi-column>
                  <dxi-column dataField="PropertyPaymentType" caption="Payment Type">
                  </dxi-column>
                  <dxi-column dataField="PaymentAmount" caption="Payment Amount">
                  </dxi-column>
                  <dxi-column dataField="InitialDeposit" caption="Initial Deposit">
                  </dxi-column>

                  <dxi-column type="buttons">
                    <dxi-button icon="edit" text="Edit" [onClick]="loadItem"></dxi-button>
                  </dxi-column>
                </dx-data-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
