<div class="content-body" *ngIf="displayForm">
    <section id="basic-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-basic">{{ operation }} RECORD</h4>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">

                            <form class="form" role="form" #form="ngForm" (ngSubmit)="processForm()">
                                <div class="form-body">
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="GradeName"
                                                    [class.text-danger]="GradeName.invalid &amp;&amp; GradeName.touched">Grade
                                                    Name</label><i class="text-danger">*</i>
                                                <input type="text" id="GradeName" name="GradeName" #GradeName="ngModel"
                                                    [(ngModel)]="obj.GradeName"
                                                    [class.is-invalid]="GradeName.invalid &amp;&amp; GradeName.touched"
                                                    class="form-control" placeholder="Enter Grade Name..." required>
                                                <div *ngIf="GradeName.invalid &amp;&amp; GradeName.touched">
                                                    <small *ngIf="GradeName.errors?.required" class="text-danger">Grade
                                                        Name is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="GradeCode"
                                                    [class.text-danger]="GradeCode.invalid &amp;&amp; GradeCode.touched">Grade
                                                    Code</label><i class="text-danger">*</i>
                                                <input type="text" id="GradeCode" name="GradeCode" #GradeCode="ngModel"
                                                    [(ngModel)]="obj.GradeCode"
                                                    [class.is-invalid]="GradeCode.invalid &amp;&amp; GradeCode.touched"
                                                    class="form-control" placeholder="Enter Grade Code..." required>
                                                <div *ngIf="GradeCode.invalid &amp;&amp; GradeCode.touched">
                                                    <small *ngIf="GradeCode.errors?.required" class="text-danger">Grade
                                                        Code is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="CompanyID"
                                                    [class.text-danger]="CompanyID.invalid &amp;&amp; CompanyID.touched">Company</label><i
                                                    class="text-danger">*</i>
                                                    <ng-select [items]="company" bindLabel="CompanyName"
                                                    bindValue="id" #CompanyID="ngModel" [(ngModel)]="obj.CompanyID" id="CompanyID"
                                                    name="CompanyID" [class.is-invalid]="CompanyID.invalid &amp;&amp; CompanyID.touched"
                                                    placeholder="Select Company..." required></ng-select>
                                                <div *ngIf="CompanyID.invalid &amp;&amp; CompanyID.touched">
                                                    <small *ngIf="CompanyID.errors?.required"
                                                        class="text-danger">Company is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <button type="button" class="btn btn-warning mr-1" (click)="resetForm()">

                                        Cancel
                                    </button>
                                    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">

                                        {{operation}}
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="content-body">
    <section id="basic-form-layouts">
        <div class="row match-height">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="box-title">List of Grades</h4>
                        <div class="box-tools pull-right">
                            <button class="btn btn-primary btn-sm" type="button" (click)="showForm()"><span
                                    class="fa fa-plus"></span>
                                Add New</button>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <div class="table-responsive">

                                <dx-data-grid class="dx-card wide-card" [dataSource]="data" [showBorders]="false"
                                    keyExpr="id" [focusedRowEnabled]="true" [focusedRowIndex]="0"
                                    [columnAutoWidth]="true" [columnHidingEnabled]="true">
                                    <dxo-paging [pageSize]="10"></dxo-paging>
                                    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
                                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                                    <dxi-column dataField="GradeName" caption="Grade Name">
                                    </dxi-column>
                                    <dxi-column dataField="GradeCode" caption="Grade Code">
                                    </dxi-column>

                                    <dxi-column type="buttons">
                                        <dxi-button icon="edit" text="Edit" [onClick]="loadItem"></dxi-button>
                                    </dxi-column>
                                </dx-data-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>