<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <form #form="ngForm" (submit)="processForm()">
          <mat-horizontal-stepper [linear]="isLinear" #stepper>
            <mat-step #order="ngModelGroup" ngModelGroup="order" [stepControl]="form.controls.order"
              [editable]="isEditable">
              <ng-template matStepLabel>Job Interview Info</ng-template>
              <div class="panel-body">
                <div class="row">
                  <!-- <button type="button" mat-button (click)="openDialog()">Open dialog</button> -->
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-4 form-control-label" for="VacancyID"
                        [class.text-danger]="VacancyID.invalid &amp;&amp; VacancyID.touched">Vacancy
                      </label>
                      <div class="col-md-8">
                        <ng-select [items]="vacancies" bindLabel="Title" bindValue="VacancyID"
                          [(ngModel)]="obj.VacancyID" name="VacancyID" required #VacancyID="ngModel"
                          [class.is-invalid]="VacancyID.invalid &amp;&amp; VacancyID.touched"
                          placeholder="Select Job Vacancy..." (change)="onFilterVacancy($event)"></ng-select>
                        <div *ngIf="VacancyID.invalid &amp;&amp; VacancyID.touched">
                          <small *ngIf="VacancyID.errors?.required" class="text-danger">Job Vacancy is Required</small>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-4 form-control-label" for="DateofShortlist"
                        [class.text-danger]="DateofShortlist.invalid &amp;&amp; DateofShortlist.touched">Date Of
                        Shortlist</label>
                      <div class="col-md-8">
                        <input type="date" id="DateofShortlist" name="DateofShortlist" class="form-control"
                          [(ngModel)]="obj.DateofShortlist" required #DateofShortlist="ngModel"
                          [class.is-invalid]="DateofShortlist.invalid &amp;&amp; DateofShortlist.touched"
                          placeholder="Enter Dateof Shortlist..." (change)="newDate($event)" />
                        <div *ngIf="DateofShortlist.invalid &amp;&amp; DateofShortlist.touched">
                          <small *ngIf="DateofShortlist.errors?.required" class="text-danger">Date Of Shortlist is
                            Required</small>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-4 form-control-label" for="Description"
                        [class.text-danger]="Description.invalid &amp;&amp; Description.touched">Internal Remark</label>
                      <div class="col-md-8">
                        <textarea id="Description" name="Description" class="form-control" [(ngModel)]="obj.Description"
                          #Description="ngModel" [class.is-invalid]="Description.invalid &amp;&amp; Description.touched"
                          placeholder="Internal Remark..." cols="3" rows="2" required></textarea>
                        <div *ngIf="Description.invalid &amp;&amp; Description.touched">
                          <small *ngIf="Description.errors?.required" class="text-danger">Internal Remark is
                            Required</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr />

                <div *ngIf="showList">
                  <div class="card-header">
                    <h4 class="card-title">Job Applicants</h4>

                    <div style="text-align: right;">
                      <div class="row" style="text-align: left !important;">
                        <div class="col-12"><b>Filter:</b></div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="ProgrammeType">By Qualification</label>
                            <ng-select id="QualificationID" name="QualificationID" #QualificationID="ngModel"
                              [(ngModel)]="filter.QualificationID"
                              [class.is-invalid]="QualificationID.invalid &amp;&amp; QualificationID.touched"
                              placeholder="Select Qualification..." [items]="qualifications" bindValue="QualificationID"
                              bindLabel="QualificationName" (change)="FilterByDegree()"></ng-select>
                          </div>
                        </div>

                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="experiencelevel">By Experience Level</label>
                            <ng-select id="experiencelevel" name="experiencelevel" #experiencelevel="ngModel"
                              [(ngModel)]="filter.ExperienceLevelID"
                              [class.is-invalid]="experiencelevel.invalid &amp;&amp; experiencelevel.touched"
                              placeholder="Select Program Type..." [items]="experiencelevellist" bindValue="id"
                              bindLabel="ExperienceLevel" (change)="FilterByDegree()"></ng-select>
                          </div>
                        </div>

                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="YearsOfExperience">By Years Of Experience</label>
                            <ng-select id="YearsOfExperience" name="YearsOfExperience" #YearsOfExperience="ngModel"
                              [(ngModel)]="filter.YearsOfExperienceID"
                              [class.is-invalid]="YearsOfExperience.invalid &amp;&amp; YearsOfExperience.touched"
                              placeholder="Select Years Of Experience..." [items]="YearsOfExperienceList" bindValue="id"
                              bindLabel="YearsofExperience" (change)="FilterByDegree()"></ng-select>
                          </div>
                        </div>

                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="ProfessionID">By Profession</label>
                            <ng-select id="ProfessionID" name="ProfessionID" #ProfessionID="ngModel"
                              [(ngModel)]="filter.ProfessionID"
                              [class.is-invalid]="ProfessionID.invalid &amp;&amp; ProfessionID.touched"
                              placeholder="Select Years Of Experience..." [items]="ProfessionList" bindValue="id"
                              bindLabel="Profession" (change)="FilterByDegree()"></ng-select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div>
                    <div class="box-tools pull-right" style="margin-top: 15px;">
                      <button class="btn btn-primary btn-sm" type="button" (click)="applyDate()">
                        <span class="fa fa-plus"></span>Apply Date
                      </button>
                    </div>
                    <form #form="ngForm" (submit)="processForm()">
                      <table class="table">
                        <thead class="thead-inverse">
                          <tr>
                            <th class="cd1">
                              <input type="checkbox" name="selectAll" [(ngModel)]="allSelected" (change)="SelectAll()"
                                id="Selected1" />
                            </th>

                            <th class="cd2">#</th>
                            <th class="cd3">Job Applicant</th>
                            <th class="cd4">Applicant Remark</th>
                            <th class="cd5">Date</th>
                            <th class="cd5">Profile</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of datasource; index as i">
                            <th class="cd1">
                              <input type="checkbox" name="Selected{{ i }}" [(ngModel)]="item.Selected" (change)="
                                  addToDetails(item, $event.target.value, i)
                                " id="Selected{{ i }}" />
                            </th>

                            <th class="cd2">{{ i + 1 }}.</th>
                            <td class="cd3">{{ item.FullName }}</td>
                            <td class="cd4">
                              <textarea name="remark" #remark="ngModel" name="remark{{ i }}" [(ngModel)]="item.remark"
                                id="remark" class="form-control" cols="5" rows="3"></textarea>
                            </td>
                            <td class="cd5">
                              <input type="date" #ShortlistDate="ngModel" name="ShortlistDate{{ i }}"
                                [(ngModel)]="item.ShortlistDate" id="ShortlistDate" class="form-control" />
                            </td>
                            <td><a (click)="openDialog(item)">Profile</a></td>
                          </tr>
                        </tbody>
                      </table>
                    </form>
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
              <div class="panel-footer">
                <button type="button" class="btn btn-default">Cancel</button>
                &nbsp;
                <button type="button" matStepperNext class="btn btn-primary pull-right" (click)="onConfirm()"
                  [disabled]="order.invalid">
                  Next</button>&nbsp;
              </div>
            </mat-step>

            <mat-step [editable]="isEditable">
              <ng-template matStepLabel>Confirmation</ng-template>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-4 form-control-label" for="DateofShortlist">Vacancy</label>
                      <div class="col-md-8">
                        {{ obj.Vacancy }}
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-4 form-control-label" for="DateofShortlist">Date of Shortlist</label>
                      <div class="col-md-8">
                        {{ obj.DateofShortlist | date: 'EEEE, MMMM d, y' }}
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-4 form-control-label" for="Description">Note</label>
                      <div class="col-md-8">
                        {{ obj.Description }}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Job Applicants</h4>
                  </div>
                  <div class="card-content">
                    <div class="card-body">
                      <form>
                        <table class="table">
                          <thead class="thead-inverse">
                            <tr>
                              <th class="cd11">#</th>
                              <th class="cd22">Job Applicant</th>
                              <th class="cd33">Remark</th>
                              <th class="cd44">Date</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of details; index as i">
                              <th class="cd11">{{ i + 1 }}.</th>
                              <td class="cd22">{{ item.FullName }}</td>
                              <td class="cd33">{{ item.remark }}</td>
                              <td class="cd44">{{ item.ShortlistDate | date: 'EEEE, MMMM d, y' }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                <button type="button" matStepperPrevious class="btn btn-primary">
                  Back</button>&nbsp;
                <button type="submit" matStepperNext class="btn btn-primary pull-right">
                  Confirm Application</button>&nbsp;
              </div>
            </mat-step>

            <mat-step>
              <ng-template matStepLabel>Completed</ng-template>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-md-4 form-control-label" for="DateofShortlist">Vacancy</label>
                    <div class="col-md-8">
                      {{ obj.Vacancy }}
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-md-4 form-control-label" for="DateofShortlist">Date of Shortlist</label>
                    <div class="col-md-8">
                      {{ obj.DateofShortlist | date: 'EEEE, MMMM d, y' }}
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-md-4 form-control-label" for="Description">Note</label>
                    <div class="col-md-8">
                      {{ obj.Description }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Job Applicants</h4>
                </div>
                <div class="card-content">
                  <div class="card-body">
                    <form>
                      <table class="table">
                        <thead class="thead-inverse">
                          <tr>
                            <th class="cd11">#</th>
                            <th class="cd22">Job Applicant</th>
                            <th class="cd33">Remark</th>
                            <th class="cd44">Date</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of details; index as i">
                            <th class="cd11">{{ i + 1 }}.</th>
                            <td class="cd22">{{ item.FullName }}</td>
                            <td class="cd33">{{ item.remark }}</td>
                            <td class="cd44">{{ item.ShortlistDate | date: 'EEEE, MMMM d, y' }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </form>
                  </div>
                </div>
              </div>

              <div class="panel-footer">
                <button type="button" class="btn btn-primary pull-right" (click)="newApplication()">
                  New Application</button>&nbsp;
              </div>
            </mat-step>
          </mat-horizontal-stepper>
          <!-- /.box-footer -->
        </form>
      </div>
      <!-- /.box -->
    </div>
  </div>
  <!-- /.row -->
</section>