
<!-- <div class="content-body" *ngIf="displayForm"> -->
<div class="content-body">
    <section id="basic-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <!-- <h4 class="card-title" id="horz-layout-basic">{{ operation }} RECORD</h4> -->
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">
                            
                            <form #form="ngForm" (ngSubmit)="processForm()">
                                <mat-horizontal-stepper [linear]="isLinear" #stepper>
                                    <mat-step #leave="ngModelGroup" ngModelGroup="leave"
                                        [stepControl]="form.controls.leave" [editable]="isEditable">
                                        <ng-template matStepLabel>Loan Approval </ng-template>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="row">

                                                        <div class="col-md-6">
                                                            <div class="form-group row">
                                                                <label class="col-md-4 form-control-label" for="LoanDate">Loan Number</label>
                                                                <div class="col-md-8">
                                                                    {{ info.LoanApplicationID }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group row">
                                                                <label class="col-md-4 form-control-label" for="LoanDate">Loan Date</label>
                                                                <div class="col-md-8">
                                                                    {{ info.LoanDate | date:'longDate' }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group row">
                                                                <label class="col-md-4 form-control-label" for="LoanTypeID">Requested By
                                                                    </label>
                                                                <div class="col-md-8">
                                                                    {{ info.FullName }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group row">
                                                                <label class="col-md-4 form-control-label" for="LoanTypeID">Loan
                                                                    Type</label>
                                                                <div class="col-md-8">
                                                                    {{ info.LoanType }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group row">
                                                                <label class="col-md-4 form-control-label" for="Amount">Amount</label>
                                                                <div class="col-md-8">
                                                                    {{ info.Amount | number:'1.2-2' }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group row">
                                                                <label class="col-md-4 form-control-label" for="InterestRate">Interest
                                                                    Rate</label>
                                                                <div class="col-md-8">
                                                                    {{ info.InterestRate | number:'1.2-2' }}%
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group row">
                                                                <label class="col-md-4 form-control-label" for="Tenor">Tenor</label>
                                                                <div class="col-md-8">
                                                                    {{ info.Tenor }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group row">
                                                                <label class="col-md-4 form-control-label" for="RepaymentAmount">Repayment
                                                                    Amount</label>
                                                                <div class="col-md-8">
                                                                    {{ info.RepaymentAmount | number:'1.2-2' }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group row">
                                                                <label class="col-md-4 form-control-label" for="PayrollPeriodID">Repayment Start
                                                                    Period </label>
                                                                <div class="col-md-8">
                                                                    {{ info.PayrollPeriod }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group row">
                                                                <label class="col-md-4 form-control-label" for="MonthlyRepayment">Monthly
                                                                    Repayment</label>
                                                                <div class="col-md-8">
                                                                    {{ info.MonthlyRepayment  | number:'1.2-2'}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group row">
                                                                <label class="col-md-4 form-control-label" for="GuarantorName">Guarantor
                                                                    Name </label>
                                                                <div class="col-md-8">
                                                                   {{ info.GuarantorName }}
                                                                </div>
                                                            </div>
                                                        </div>
                    
                                                        <div class="col-md-6">
                                                            <div class="form-group row">
                                                                <label class="col-md-4 form-control-label" for="Address" >Address </label>
                                                                <div class="col-md-8">
                                                                    {{ info.Address }}
                                                                </div>
                                                            </div>
                                                        </div>
                    
                                                        <div class="col-md-6">
                                                            <div class="form-group row">
                                                                <label class="col-md-4 form-control-label" for="PhoneNumber">Phone
                                                                    Number </label>
                                                                <div class="col-md-8">
                                                                    {{ info.PhoneNumber }}
                                                                </div>
                                                            </div>
                                                        </div>
                    
                                                        <div class="col-md-6">
                                                            <div class="form-group row">
                                                                <label class="col-md-4 form-control-label" for="JobTitle">Job Title</label>
                                                                <div class="col-md-8">
                                                                     {{ info.JobTitle }}
                                                                </div>
                                                            </div>
                                                        </div>
                    
                                                        <div class="col-md-6">
                                                            <div class="form-group row">
                                                                <label class="col-md-4 form-control-label" for="Email" >Email </label>
                                                                <div class="col-md-8">
                                                                   {{ info.Email }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label for="ApprovedBy">Approving
                                                                Officer: </label>
                                                            {{ user_name }}

                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label for="ApprovalInstancesID"
                                                                [class.text-danger]="ApprovalInstancesID.invalid &amp;&amp; ApprovalInstancesID.touched">Action</label><i
                                                                class="text-danger">*</i>
                                                            <ng-select [items]="ApprovalInstances" bindValue="id"
                                                                bindLabel="ApprovalType" id="ApprovalInstancesID"
                                                                name="ApprovalInstancesID"
                                                                #ApprovalInstancesID="ngModel"
                                                                [(ngModel)]="obj.ApprovalInstancesID"
                                                                [class.is-invalid]="ApprovalInstancesID.invalid &amp;&amp; ApprovalInstancesID.touched"
                                                                placeholder="Select Action ..." required
                                                                (change)="loadEvent($event)">
                                                            </ng-select>
                                                            <div
                                                                *ngIf="ApprovalInstancesID.invalid &amp;&amp; ApprovalInstancesID.touched">
                                                                <small *ngIf="ApprovalInstancesID.errors?.required"
                                                                    class="text-danger">Approval Action is
                                                                    Required</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                  
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label for="Comment"
                                                                [class.text-danger]="Comment.invalid &amp;&amp; Comment.touched">Comment</label><i
                                                                class="text-danger">*</i>
                                                            <textarea id="Comment" name="Comment" #Comment="ngModel"
                                                                [(ngModel)]="obj.Comment"
                                                                [class.is-invalid]="Comment.invalid &amp;&amp; Comment.touched"
                                                                class="form-control" placeholder="Enter Comment..."
                                                                [required]="!isRequired"></textarea>
                                                            <div *ngIf="Comment.invalid &amp;&amp; Comment.touched">
                                                                <small *ngIf="Comment.errors?.required"
                                                                    class="text-danger">Comment is Required</small>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer ">
                                            <button type="button" (click)="resetForm()" class="btn btn-sm btn-danger">
                                                <i class="fa fa-dot-circle-o"></i> Cancel</button>
                                            <button type="submit" matStepperNext
                                                class="btn btn-sm btn-primary pull-right" [disabled]="leave.invalid">
                                                <i class="fa fa-dot-circle-o"></i> Submit</button>
                                        </div>
                                    </mat-step>
                                    <mat-step [editable]="isEditable" #leaveApproval="ngModelGroup"
                                        ngModelGroup="leaveApproval" [stepControl]="form.controls.leaveApproval">
                                        <ng-template matStepLabel>Completion</ng-template>
                                        <h3>Loan Application Treated</h3>
                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-md-4 form-control-label" for="LoanDate">Loan Number</label>
                                                    <div class="col-md-8">
                                                        {{ info.LoanApplicationID }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-md-4 form-control-label" for="LoanDate">Loan Date</label>
                                                    <div class="col-md-8">
                                                        {{ info.LoanDate | date:'longDate' }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-md-4 form-control-label" for="LoanTypeID">Requested By
                                                        </label>
                                                    <div class="col-md-8">
                                                        {{ info.FullName }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-md-4 form-control-label" for="LoanTypeID">Loan
                                                        Type</label>
                                                    <div class="col-md-8">
                                                        {{ info.LoanType }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-md-4 form-control-label" for="Amount">Amount</label>
                                                    <div class="col-md-8">
                                                        {{ info.Amount | number:'1.2-2' }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-md-4 form-control-label" for="InterestRate">Interest
                                                        Rate</label>
                                                    <div class="col-md-8">
                                                        {{ info.InterestRate | number:'1.2-2' }}%
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-md-4 form-control-label" for="Tenor">Tenor</label>
                                                    <div class="col-md-8">
                                                        {{ info.Tenor }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-md-4 form-control-label" for="RepaymentAmount">Repayment
                                                        Amount</label>
                                                    <div class="col-md-8">
                                                        {{ info.RepaymentAmount | number:'1.2-2' }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-md-4 form-control-label" for="PayrollPeriodID">Repayment Start
                                                        Period </label>
                                                    <div class="col-md-8">
                                                        {{ info.PayrollPeriod }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-md-4 form-control-label" for="MonthlyRepayment">Monthly
                                                        Repayment</label>
                                                    <div class="col-md-8">
                                                        {{ info.MonthlyRepayment  | number:'1.2-2'}}
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-md-4 form-control-label" for="GuarantorName">Guarantor
                                                        Name </label>
                                                    <div class="col-md-8">
                                                       {{ info.GuarantorName }}
                                                    </div>
                                                </div>
                                            </div>
        
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-md-4 form-control-label" for="Address" >Address </label>
                                                    <div class="col-md-8">
                                                        {{ info.Address }}
                                                    </div>
                                                </div>
                                            </div>
        
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-md-4 form-control-label" for="PhoneNumber">Phone
                                                        Number </label>
                                                    <div class="col-md-8">
                                                        {{ info.PhoneNumber }}
                                                    </div>
                                                </div>
                                            </div>
        
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-md-4 form-control-label" for="JobTitle">Job Title</label>
                                                    <div class="col-md-8">
                                                         {{ info.JobTitle }}
                                                    </div>
                                                </div>
                                            </div>
        
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-md-4 form-control-label" for="Email" >Email </label>
                                                    <div class="col-md-8">
                                                       {{ info.Email }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card-footer ">

                                            <a [routerLink]="['/loan/approval-bin']"
                                                class="btn btn-sm btn-primary pull-right">
                                                <i class="fa fa-dot-circle-o"></i> Back to Approval Bin</a>
                                        </div>
                                    </mat-step>
                                </mat-horizontal-stepper>

                            </form>


                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <h3>Loan Approval History</h3>
                                <dx-data-grid class="dx-card wide-card" [dataSource]="data" [showBorders]="false"
                                    keyExpr="id" [focusedRowEnabled]="true" [focusedRowIndex]="0"
                                    [columnAutoWidth]="true" [columnHidingEnabled]="true">
                                    <dxo-paging [pageSize]="10"></dxo-paging>
                                    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
                                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                                    <dxi-column dataField="ApprovalDate" caption="Approval Date" dataType="date">
                                    </dxi-column>
                                    <dxi-column dataField="FullName" caption="Approved By">
                                    </dxi-column>
                                </dx-data-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>