

<div class="content-body" *ngIf="displayForm">
    <section id="basic-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-basic">{{ operation }} RECORD</h4>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">
                            
                            <form class="form" role="form" #form="ngForm" (ngSubmit)="processForm()">
                                <div class="form-body">
                                    <div class="row">
                                        
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="CV"
                                                    [class.text-danger]="CV.invalid &amp;&amp; CV.touched">CV</label><i
                                                    class="text-danger">*</i>
                                                 <input type="text" id="CV"
                                                    name="CV" #CV="ngModel"
                                                    [(ngModel)]="obj.CV"
                                                    [class.is-invalid]="CV.invalid &amp;&amp; CV.touched"
                                                    class="form-control"
                                                    placeholder="Enter CV..."
                                                    required>
                                                <div *ngIf="CV.invalid &amp;&amp; CV.touched">
                                                    <small *ngIf="CV.errors?.required"
                                                        class="text-danger">CV is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="ApplicantID"
                                                    [class.text-danger]="ApplicantID.invalid &amp;&amp; ApplicantID.touched">Applicant</label><i
                                                    class="text-danger">*</i>
                                                 <ng-select [items]="applicants"
                                                    bindLabel="FirsName"
                                                    bindValue="id" #ApplicantID="ngModel" name="ApplicantID"
                                                    [(ngModel)]="obj.ApplicantID"
                                                    [class.is-invalid]="ApplicantID.invalid &amp;&amp; ApplicantID.touched"
                                                    placeholder="Select Applicant..."
                                                    required></ng-select>
                                                <div *ngIf="ApplicantID.invalid &amp;&amp; ApplicantID.touched">
                                                    <small *ngIf="ApplicantID.errors?.required"
                                                        class="text-danger">Applicant is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <button type="button" class="btn btn-warning mr-1" (click)="resetForm()">

                                        Cancel
                                    </button>
                                    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">

                                        {{operation}}
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="content-body">
    <section id="basic-form-layouts">
        <div class="row match-height">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="box-title">List of Applicant CV</h4>
                        <div class="box-tools pull-right">
                            <button class="btn btn-primary btn-sm" type="button" (click)="showForm()"><span
                                    class="fa fa-plus"></span>
                                Add New</button>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <div class="table-responsive">

                                <dx-data-grid class="dx-card wide-card" [dataSource]="data" [showBorders]="false"
                                    keyExpr="id" [focusedRowEnabled]="true" [focusedRowIndex]="0"
                                    [columnAutoWidth]="true" [columnHidingEnabled]="true">
                                    <dxo-paging [pageSize]="10"></dxo-paging>
                                    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
                                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                                    <dxi-column
                                        dataField="CV"
                                        caption="CV">
                                    </dxi-column>
                                    <dxi-column
                                        dataField="FirsName"
                                        caption="Firs Name">
                                    </dxi-column>
                                    
                                        <dxi-column type="buttons">
                                            <dxi-button icon="edit" text="Edit" [onClick]="loadItem"></dxi-button>
                                        </dxi-column>
                                </dx-data-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

