<section class="content">
    <div class="row">

        <div class="col-md-12">

            <div class="card" *ngIf="displayForm">
                <div class="card-header">
                    {{operation}} Record
                </div>


                <div class="card-body">
                    <form #form="ngForm" class="form-horizontal" (ngSubmit)="processForm()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-4 form-control-label" for="actiontype"
                                        [class.text-danger]="actiontype.invalid && actiontype.touched">Action Type<i
                                            class="text-danger">*</i></label>
                                    <div class="col-md-8">
                                        <input type="text" id="actiontype" name="actiontype" class="form-control"
                                            placeholder="Enter Actiontype .." [(ngModel)]="obj.actiontype" required
                                            #actiontype="ngModel"
                                            [class.is-invalid]="actiontype.invalid && actiontype.touched"
                                            placeholder="Select Actiontype...">
                                        <div *ngIf="actiontype.invalid && actiontype.touched">
                                            <small *ngIf="actiontype.errors?.required" class="text-danger">Action Type is
                                                Required</small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-12">
                            <button type="button" class="btn btn-warning" (click)="hideForm()">Cancel</button>&nbsp;
                            <button type="submit" class="btn btn-primary"
                                [disabled]="form.invalid">{{operation}}</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h3>List of Actiontypes</h3>
                    <div class="panel-tools pull-right">
                        <button class="btn btn-primary btn-sm" type="button" (click)="showForm()"><span
                                class="fa fa-plus"></span>
                            Add New</button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="card-body">

                    <div class="table-responsive">

                        <dx-data-grid class="dx-card wide-card" [dataSource]="data" [showBorders]="false" keyExpr="id"
                            [focusedRowEnabled]="true" [focusedRowIndex]="0" [columnAutoWidth]="true"
                            [columnHidingEnabled]="true">
                            <dxo-paging [pageSize]="10"></dxo-paging>
                            <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                            <dxi-column dataField="actiontype" caption="Action Type"></dxi-column>

                            <dxi-column type="buttons">
                                <dxi-button icon="edit" text="Edit" [onClick]="loadItem"></dxi-button>
                            </dxi-column>
                        </dx-data-grid>
                        <!--  <dx-speed-dial-action icon="add" hint="Add New" (onClick)="addItem()">
			</dx-speed-dial-action> -->

                    </div>
                </div>
                <!-- end box-body -->
            </div>
            <!-- end box -->
        </div>
    </div>
</section>