<div class="content-body" *ngIf="displayForm">
    <section id="basic-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-basic">{{ operation }} RECORD</h4>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">

                            <form class="form" role="form" #form="ngForm" (ngSubmit)="processForm()">
                                <div class="form-body">
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="YearID"
                                                    [class.text-danger]="YearID.invalid &amp;&amp; YearID.touched">Year
                                                </label><i class="text-danger">*</i>
                                                <ng-select [items]="year" bindLabel="YearName" bindValue="id"
                                                    #YearID="ngModel" [(ngModel)]="obj.YearID" id="YearID"
                                                    name="YearID"
                                                    [class.is-invalid]="YearID.invalid &amp;&amp; YearID.touched"
                                                    placeholder="Select Year..." required></ng-select>
                                                <div *ngIf="YearID.invalid &amp;&amp; YearID.touched">
                                                    <small *ngIf="YearID.errors?.required" class="text-danger">Year ID
                                                        is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="EmployeeID"
                                                    [class.text-danger]="EmployeeID.invalid &amp;&amp; EmployeeID.touched">Employee
                                                </label><i class="text-danger">*</i>
                                                <ng-select [items]="employees" bindLabel="FullName" bindValue="id"
                                                    #EmployeeID="ngModel" [(ngModel)]="obj.EmployeeID" id="EmployeeID"
                                                    name="EmployeeID"
                                                    [class.is-invalid]="EmployeeID.invalid &amp;&amp; EmployeeID.touched"
                                                    placeholder="Select Employee..." required></ng-select>
                                                <div *ngIf="EmployeeID.invalid &amp;&amp; EmployeeID.touched">
                                                    <small *ngIf="EmployeeID.errors?.required"
                                                        class="text-danger">Employee is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="NoDayEntitled"
                                                    [class.text-danger]="NoDayEntitled.invalid &amp;&amp; NoDayEntitled.touched">No
                                                    Day Entitled</label><i class="text-danger">*</i>
                                                <input type="number" id="NoDayEntitled" name="NoDayEntitled"
                                                    #NoDayEntitled="ngModel" [(ngModel)]="obj.NoDayEntitled"
                                                    [class.is-invalid]="NoDayEntitled.invalid &amp;&amp; NoDayEntitled.touched"
                                                    class="form-control" placeholder="Enter No Day Entitled..."
                                                    required>
                                                <div *ngIf="NoDayEntitled.invalid &amp;&amp; NoDayEntitled.touched">
                                                    <small *ngIf="NoDayEntitled.errors?.required" class="text-danger">No
                                                        Day Entitled is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="LeaveTypeID"
                                                    [class.text-danger]="LeaveTypeID.invalid &amp;&amp; LeaveTypeID.touched">Leave
                                                    Type</label><i class="text-danger">*</i>
                                                    <ng-select [items]="leavetype" bindLabel="LeaveType" bindValue="id"
                                                    #LeaveTypeID="ngModel" [(ngModel)]="obj.LeaveTypeID" id="LeaveTypeID"
                                                    name="LeaveTypeID"
                                                    [class.is-invalid]="LeaveTypeID.invalid &amp;&amp; LeaveTypeID.touched"
                                                    placeholder="Select Company..." required></ng-select>
                                                <div *ngIf="LeaveTypeID.invalid &amp;&amp; LeaveTypeID.touched">
                                                    <small *ngIf="LeaveTypeID.errors?.required"
                                                        class="text-danger">Leave Type is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <button type="button" class="btn btn-warning mr-1" (click)="resetForm()">

                                        Cancel
                                    </button>
                                    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">

                                        {{operation}}
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="content-body">
    <section id="basic-form-layouts">
        <div class="row match-height">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="box-title">List of Employee Leave Entitlement</h4>
                        <div class="box-tools pull-right">
                            <button class="btn btn-primary btn-sm" type="button" (click)="showForm()"><span
                                    class="fa fa-plus"></span>
                                Add New</button>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <div class="table-responsive">

                                <dx-data-grid class="dx-card wide-card" [dataSource]="data" [showBorders]="false"
                                    keyExpr="id" [focusedRowEnabled]="true" [focusedRowIndex]="0"
                                    [columnAutoWidth]="true" [columnHidingEnabled]="true">
                                    <dxo-paging [pageSize]="10"></dxo-paging>
                                    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
                                    <dxo-filter-row [visible]="true"></dxo-filter-row>

                                    <dxi-column dataField="EmployeeID" caption="Employee ">
                                        <dxo-lookup [dataSource]="employees" valueExpr="EmployeeID"
                                            displayExpr="FullName">
                                        </dxo-lookup>
                                    </dxi-column>
                                    <dxi-column dataField="LeaveTypeID" caption="Leave Type ">
                                        <dxo-lookup [dataSource]="leavetype" valueExpr="id" displayExpr="LeaveType">
                                        </dxo-lookup>
                                    </dxi-column>
                                    <dxi-column dataField="NoDayEntitled" caption="No Days Entitled">
                                    </dxi-column>

                                    <dxi-column type="buttons">
                                        <dxi-button icon="edit" text="Edit" [onClick]="loadItem"></dxi-button>
                                    </dxi-column>
                                </dx-data-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>