<section class="content">
    <div class="row">
        <div class="col-md-12">

            <div class="card" *ngIf="displayForm">
                <div class="card-header">
                    {{operation}} Record
                </div>


                <div class="card-body">
                    <form #form="ngForm" class="form-horizontal" (ngSubmit)="processForm()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-4 form-control-label" for="kpitype"
                                        [class.text-danger]="kpitype.invalid && kpitype.touched">KPI Type<i
                                            class="text-danger">*</i></label>
                                    <div class="col-md-8">
                                        <input type="text" id="kpitype" name="kpitype" class="form-control"
                                            placeholder="Enter KPI Type .." [(ngModel)]="obj.kpitype" required
                                            #kpitype="ngModel" [class.is-invalid]="kpitype.invalid && kpitype.touched"
                                            placeholder="Select KPI Type...">
                                        <div *ngIf="kpitype.invalid && kpitype.touched">
                                            <small *ngIf="kpitype.errors?.required" class="text-danger">KPI Type is
                                                Required</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-4 form-control-label" for="kpiclass_id"
                                        [class.text-danger]="kpiclass_id.invalid && kpiclass_id.touched">KPI Class<i
                                            class="text-danger">*</i></label>
                                    <div class="col-md-8">
                                        <ng-select [items]="kpiclass" bindLabel="kpiclass" bindValue="id"
                                            [(ngModel)]="obj.kpiclass_id" name="kpiclass_id" required
                                            #kpiclass_id="ngModel"
                                            [class.is-invalid]="kpiclass_id.invalid && kpiclass_id.touched"
                                            placeholder="Select KPI Class..."></ng-select>
                                        <div *ngIf="kpiclass_id.invalid && kpiclass_id.touched">
                                            <small *ngIf="kpiclass_id.errors?.required" class="text-danger">KPI Class id
                                                is
                                                Required</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-4 form-control-label" for="ActiveID"
                                        [class.text-danger]="ActiveID.invalid && ActiveID.touched">Status<i
                                            class="text-danger">*</i></label>
                                    <div class="col-md-8">
                                        <ng-select [items]="statuses" bindLabel="title" bindValue="id"
                                            [(ngModel)]="obj.ActiveID" name="kpiclass_id" required #ActiveID="ngModel"
                                            [class.is-invalid]="ActiveID.invalid && ActiveID.touched"
                                            placeholder="Select Status..."></ng-select>

                                        <div *ngIf="ActiveID.invalid && ActiveID.touched">
                                            <small *ngIf="ActiveID.errors?.required" class="text-danger">Status is
                                                Required</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-4 form-control-label" for="visible"
                                        [class.text-danger]="visible.invalid && visible.touched">Visible<i
                                            class="text-danger">*</i></label>
                                    <div class="col-md-8">
                                        <ng-select [items]="yesNo" bindLabel="title" bindValue="id"
                                            [(ngModel)]="obj.visible" name="visible" required #visible="ngModel"
                                            [class.is-invalid]="visible.invalid && visible.touched"
                                            placeholder="Select Visibility..."></ng-select>

                                        <div *ngIf="visible.invalid && visible.touched">
                                            <small *ngIf="visible.errors?.required" class="text-danger">Visible is
                                                Required</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-warning" (click)="hideForm()">Cancel</button>&nbsp;
                            <button type="submit" class="btn btn-primary"
                                [disabled]="form.invalid">{{operation}}</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h3>List of KPI Type</h3>
                    <div class="panel-tools pull-right">
                        <button class="btn btn-primary btn-sm" type="button" (click)="showForm()"><span
                                class="fa fa-plus"></span>
                            Add New</button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="card-body">

                    <div class="table-responsive">

                        <dx-data-grid class="dx-card wide-card" [dataSource]="data" [showBorders]="false" keyExpr="id"
                            [focusedRowEnabled]="true" [focusedRowIndex]="0" [columnAutoWidth]="true"
                            [columnHidingEnabled]="true">
                            <dxo-paging [pageSize]="10"></dxo-paging>
                            <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                            <dxi-column dataField="kpitype" caption="KPI Type"></dxi-column>
                            <dxi-column dataField="kpiclass" caption="KPI Class"></dxi-column>
                            <dxi-column dataField="ActiveID" caption="Status">
                                <dxo-lookup displayExpr="title" valueExpr="id" [dataSource]="statuses"></dxo-lookup>
                            </dxi-column>
                            <dxi-column dataField="visible" caption="Allow Display">
                                <dxo-lookup displayExpr="title" valueExpr="id" [dataSource]="yesNo"></dxo-lookup>
                            </dxi-column>

                            <dxi-column type="buttons">
                                <dxi-button icon="edit" text="Edit" [onClick]="loadItem"></dxi-button>
                            </dxi-column>
                        </dx-data-grid>
                        <!-- <dx-speed-dial-action icon="add" hint="Add New" (onClick)="addItem()">
                        </dx-speed-dial-action> -->

                    </div>
                </div>
                <!-- end box-body -->
            </div>
            <!-- end box -->
        </div>
    </div>
</section>