

<div class="content-body" *ngIf="displayForm">
    <section id="basic-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-basic">{{ operation }} RECORD</h4>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">
                            
                            <form class="form" role="form" #form="ngForm" (ngSubmit)="processForm()">
                                <div class="form-body">
                                    <div class="row">
                                        
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="EffectiveDate"
                                                    [class.text-danger]="EffectiveDate.invalid &amp;&amp; EffectiveDate.touched">Effective Date</label><i
                                                    class="text-danger">*</i>
                                                 <input type="text" id="EffectiveDate"
                                                    name="EffectiveDate" #EffectiveDate="ngModel"
                                                    [(ngModel)]="obj.EffectiveDate"
                                                    [class.is-invalid]="EffectiveDate.invalid &amp;&amp; EffectiveDate.touched"
                                                    class="form-control"
                                                    placeholder="Enter Effective Date..."
                                                    required>
                                                <div *ngIf="EffectiveDate.invalid &amp;&amp; EffectiveDate.touched">
                                                    <small *ngIf="EffectiveDate.errors?.required"
                                                        class="text-danger">Effective Date is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="Comments"
                                                    [class.text-danger]="Comments.invalid &amp;&amp; Comments.touched">Comments</label><i
                                                    class="text-danger">*</i>
                                                 <input type="text" id="Comments"
                                                    name="Comments" #Comments="ngModel"
                                                    [(ngModel)]="obj.Comments"
                                                    [class.is-invalid]="Comments.invalid &amp;&amp; Comments.touched"
                                                    class="form-control"
                                                    placeholder="Enter Comments..."
                                                    required>
                                                <div *ngIf="Comments.invalid &amp;&amp; Comments.touched">
                                                    <small *ngIf="Comments.errors?.required"
                                                        class="text-danger">Comments is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="EmployeeID"
                                                    [class.text-danger]="EmployeeID.invalid &amp;&amp; EmployeeID.touched">Employee</label><i
                                                    class="text-danger">*</i>
                                                 <input type="number" id="EmployeeID"
                                                    name="EmployeeID" #EmployeeID="ngModel"
                                                    [(ngModel)]="obj.EmployeeID"
                                                    [class.is-invalid]="EmployeeID.invalid &amp;&amp; EmployeeID.touched"
                                                    class="form-control"
                                                    placeholder="Enter Employee..."
                                                    required>
                                                <div *ngIf="EmployeeID.invalid &amp;&amp; EmployeeID.touched">
                                                    <small *ngIf="EmployeeID.errors?.required"
                                                        class="text-danger">Employee is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="WorkforceOptionID"
                                                    [class.text-danger]="WorkforceOptionID.invalid &amp;&amp; WorkforceOptionID.touched">Workforce Option</label><i
                                                    class="text-danger">*</i>
                                                 <input type="number" id="WorkforceOptionID"
                                                    name="WorkforceOptionID" #WorkforceOptionID="ngModel"
                                                    [(ngModel)]="obj.WorkforceOptionID"
                                                    [class.is-invalid]="WorkforceOptionID.invalid &amp;&amp; WorkforceOptionID.touched"
                                                    class="form-control"
                                                    placeholder="Enter Workforce Option..."
                                                    required>
                                                <div *ngIf="WorkforceOptionID.invalid &amp;&amp; WorkforceOptionID.touched">
                                                    <small *ngIf="WorkforceOptionID.errors?.required"
                                                        class="text-danger">Workforce Option is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="OldGradeLevelID"
                                                    [class.text-danger]="OldGradeLevelID.invalid &amp;&amp; OldGradeLevelID.touched">Old Grade Level</label><i
                                                    class="text-danger">*</i>
                                                 <input type="number" id="OldGradeLevelID"
                                                    name="OldGradeLevelID" #OldGradeLevelID="ngModel"
                                                    [(ngModel)]="obj.OldGradeLevelID"
                                                    [class.is-invalid]="OldGradeLevelID.invalid &amp;&amp; OldGradeLevelID.touched"
                                                    class="form-control"
                                                    placeholder="Enter Old Grade Level..."
                                                    required>
                                                <div *ngIf="OldGradeLevelID.invalid &amp;&amp; OldGradeLevelID.touched">
                                                    <small *ngIf="OldGradeLevelID.errors?.required"
                                                        class="text-danger">Old Grade Level is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="NewGradeLevelID"
                                                    [class.text-danger]="NewGradeLevelID.invalid &amp;&amp; NewGradeLevelID.touched">New Grade Level</label><i
                                                    class="text-danger">*</i>
                                                 <input type="number" id="NewGradeLevelID"
                                                    name="NewGradeLevelID" #NewGradeLevelID="ngModel"
                                                    [(ngModel)]="obj.NewGradeLevelID"
                                                    [class.is-invalid]="NewGradeLevelID.invalid &amp;&amp; NewGradeLevelID.touched"
                                                    class="form-control"
                                                    placeholder="Enter New Grade Level..."
                                                    required>
                                                <div *ngIf="NewGradeLevelID.invalid &amp;&amp; NewGradeLevelID.touched">
                                                    <small *ngIf="NewGradeLevelID.errors?.required"
                                                        class="text-danger">New Grade Level is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <button type="button" class="btn btn-warning mr-1" (click)="resetForm()">

                                        Cancel
                                    </button>
                                    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">

                                        {{operation}}
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="content-body">
    <section id="basic-form-layouts">
        <div class="row match-height">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="box-title">List of Work Force History</h4>
                        <div class="box-tools pull-right">
                            <button class="btn btn-primary btn-sm" type="button" (click)="showForm()"><span
                                    class="fa fa-plus"></span>
                                Add New</button>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <div class="table-responsive">

                                <dx-data-grid class="dx-card wide-card" [dataSource]="data" [showBorders]="false"
                                    keyExpr="id" [focusedRowEnabled]="true" [focusedRowIndex]="0"
                                    [columnAutoWidth]="true" [columnHidingEnabled]="true">
                                    <dxo-paging [pageSize]="10"></dxo-paging>
                                    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
                                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                                    <dxi-column
                                        dataField="EffectiveDate"
                                        caption="Effective Date">
                                    </dxi-column>
                                    <dxi-column
                                        dataField="Comments"
                                        caption="Comments">
                                    </dxi-column>
                                    <dxi-column
                                        dataField="EmployeeID"
                                        caption="Employee">
                                    </dxi-column>
                                    <dxi-column
                                        dataField="WorkforceOptionID"
                                        caption="Workforce Option">
                                    </dxi-column>
                                    <dxi-column
                                        dataField="OldGradeLevelID"
                                        caption="Old Grade Level">
                                    </dxi-column>
                                    <dxi-column
                                        dataField="NewGradeLevelID"
                                        caption="New Grade Level">
                                    </dxi-column>
                                    
                                        <dxi-column type="buttons">
                                            <dxi-button icon="edit" text="Edit" [onClick]="loadItem"></dxi-button>
                                        </dxi-column>
                                </dx-data-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

