

<div class="content-body" *ngIf="displayForm">
    <section id="basic-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-basic">{{ operation }} RECORD</h4>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">
                            
                            <form class="form" role="form" #form="ngForm" (ngSubmit)="processForm()">
                                <div class="form-body">
                                    <div class="row">
                                        
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="ExpenseCategoryID"
                                                    [class.text-danger]="ExpenseCategoryID.invalid &amp;&amp; ExpenseCategoryID.touched">Expense Category</label><i
                                                    class="text-danger">*</i>
                                                 <ng-select [items]="expensecategory"
                                                    bindLabel="Expense"
                                                    bindValue="id" #ExpenseCategoryID="ngModel" name="ExpenseCategoryID"
                                                    [(ngModel)]="obj.ExpenseCategoryID"
                                                    [class.is-invalid]="ExpenseCategoryID.invalid &amp;&amp; ExpenseCategoryID.touched"
                                                    placeholder="Select Expense Category..."
                                                    required></ng-select>
                                                <div *ngIf="ExpenseCategoryID.invalid &amp;&amp; ExpenseCategoryID.touched">
                                                    <small *ngIf="ExpenseCategoryID.errors?.required"
                                                        class="text-danger">Expense Category is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="ExpenseLine"
                                                    [class.text-danger]="ExpenseLine.invalid &amp;&amp; ExpenseLine.touched">Expense Line</label><i
                                                    class="text-danger">*</i>
                                                 <input type="text" id="ExpenseLine"
                                                    name="ExpenseLine" #ExpenseLine="ngModel"
                                                    [(ngModel)]="obj.ExpenseLine"
                                                    [class.is-invalid]="ExpenseLine.invalid &amp;&amp; ExpenseLine.touched"
                                                    class="form-control"
                                                    placeholder="Enter Expense Line..."
                                                    required>
                                                <div *ngIf="ExpenseLine.invalid &amp;&amp; ExpenseLine.touched">
                                                    <small *ngIf="ExpenseLine.errors?.required"
                                                        class="text-danger">Expense Line is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <button type="button" class="btn btn-warning mr-1" (click)="resetForm()">

                                        Cancel
                                    </button>
                                    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">

                                        {{operation}}
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="content-body">
    <section id="basic-form-layouts">
        <div class="row match-height">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="box-title">List of Expenseline</h4>
                        <div class="box-tools pull-right">
                            <button class="btn btn-primary btn-sm" type="button" (click)="showForm()"><span
                                    class="fa fa-plus"></span>
                                Add New</button>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <div class="table-responsive">

                                <dx-data-grid class="dx-card wide-card" [dataSource]="data" [showBorders]="false"
                                    keyExpr="id" [focusedRowEnabled]="true" [focusedRowIndex]="0"
                                    [columnAutoWidth]="true" [columnHidingEnabled]="true">
                                    <dxo-paging [pageSize]="10"></dxo-paging>
                                    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
                                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                                    <dxi-column
                                        dataField="Expense"
                                        caption="Expense">
                                    </dxi-column>
                                    <dxi-column
                                        dataField="ExpenseLine"
                                        caption="Expense Line">
                                    </dxi-column>
                                    
                                        <dxi-column type="buttons">
                                            <dxi-button icon="edit" text="Edit" [onClick]="loadItem"></dxi-button>
                                        </dxi-column>
                                </dx-data-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

