


<section class="content">
<div class="row">
   <div class="col-md-12">
    
	<div class="card" *ngIf="displayForm">
        <div class="card-header">
		  {{operation}} Record
        </div>
        
        
        <div class="card-body">
			<form #form="ngForm" class="form-horizontal" (ngSubmit)="processForm()">
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-4 form-control-label" for="title" [class.text-danger]="title.invalid && title.touched">Title<i class="text-danger">*</i></label>
                    <div class="col-md-8">
						<input type="text" id="title" name="title" class="form-control" placeholder="Enter Title .." [(ngModel)]="obj.title" required #title="ngModel" [class.is-invalid]="title.invalid && title.touched" placeholder="Select Title...">
						<div *ngIf="title.invalid && title.touched">
                            <small *ngIf="title.errors?.required"
                                class="text-danger">Title is Required</small>
                        </div>
                    </div>
                </div>
			</div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-4 form-control-label" for="goal" [class.text-danger]="goal.invalid && goal.touched">Goal<i class="text-danger">*</i></label>
                    <div class="col-md-8">
						<input type="text" id="goal" name="goal" class="form-control" placeholder="Enter Goal .." [(ngModel)]="obj.goal" required #goal="ngModel" [class.is-invalid]="goal.invalid && goal.touched" placeholder="Select Goal...">
						<div *ngIf="goal.invalid && goal.touched">
                            <small *ngIf="goal.errors?.required"
                                class="text-danger">Goal is Required</small>
                        </div>
                    </div>
                </div>
			</div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-4 form-control-label" for="measureOfSuccess" [class.text-danger]="measureOfSuccess.invalid && measureOfSuccess.touched">Measure Of Success<i class="text-danger">*</i></label>
                    <div class="col-md-8">
						<input type="text" id="measureOfSuccess" name="measureOfSuccess" class="form-control" placeholder="Enter Measure Of Success .." [(ngModel)]="obj.measureOfSuccess" required #measureOfSuccess="ngModel" [class.is-invalid]="measureOfSuccess.invalid && measureOfSuccess.touched" placeholder="Select Measure Of Success...">
						<div *ngIf="measureOfSuccess.invalid && measureOfSuccess.touched">
                            <small *ngIf="measureOfSuccess.errors?.required"
                                class="text-danger">Measure Of Success is Required</small>
                        </div>
                    </div>
                </div>
			</div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-4 form-control-label" for="hod_comment" [class.text-danger]="hod_comment.invalid && hod_comment.touched">Hod comment<i class="text-danger">*</i></label>
                    <div class="col-md-8">
						<input type="text" id="hod_comment" name="hod_comment" class="form-control" placeholder="Enter Hod comment .." [(ngModel)]="obj.hod_comment" required #hod_comment="ngModel" [class.is-invalid]="hod_comment.invalid && hod_comment.touched" placeholder="Select Hod comment...">
						<div *ngIf="hod_comment.invalid && hod_comment.touched">
                            <small *ngIf="hod_comment.errors?.required"
                                class="text-danger">Hod comment is Required</small>
                        </div>
                    </div>
                </div>
			</div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-4 form-control-label" for="appraisal_id" [class.text-danger]="appraisal_id.invalid && appraisal_id.touched">Appraisal<i class="text-danger">*</i></label>
                    <div class="col-md-8">
						<ng-select [items]="appraisalheader" bindLabel="period_id" bindValue="id" [(ngModel)]="obj.appraisal_id" name="appraisal_id" required #appraisal_id="ngModel" [class.is-invalid]="appraisal_id.invalid && appraisal_id.touched" placeholder="Select Appraisal..."></ng-select>
						<div *ngIf="appraisal_id.invalid && appraisal_id.touched">
                            <small *ngIf="appraisal_id.errors?.required"
                                class="text-danger">Appraisal is Required</small>
                        </div>
                    </div>
                </div>
			</div>
        
		<div class="col-md-12">
            <button type="button" class="btn btn-warning" (click)="hideForm()">Cancel</button>&nbsp;
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">{{operation}}</button>
         </div>
      </form>
	  </div>
    </div>
    
	<div class="card">
        <div class="card-header">
          <h3>List of Appraisal trainings</h3>
          <div class="panel-tools pull-right">
            <button class="btn btn-primary btn-sm" type="button" (click)="showForm()"><span class="fa fa-plus"></span>
              Add New</button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="card-body">

        <div class="table-responsive" >
         
             <dx-data-grid class="dx-card wide-card" [dataSource]="data" [showBorders]="false" keyExpr="id"
					[focusedRowEnabled]="true" [focusedRowIndex]="0" [columnAutoWidth]="true" [columnHidingEnabled]="true">
					<dxo-paging [pageSize]="10"></dxo-paging>
					<dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
					<dxo-filter-row [visible]="true"></dxo-filter-row>
					<dxi-column dataField="title"
                          caption="Title"></dxi-column>
      				<dxi-column dataField="goal"
                          caption="Goal"></dxi-column>
      				<dxi-column dataField="measureOfSuccess"
                          caption="Measure Of Success"></dxi-column>
      				<dxi-column dataField="hod_comment"
                          caption="Hod comment"></dxi-column>
      				<dxi-column dataField="period_id"
                          caption="Period id"></dxi-column>
      				
						<dxi-column type="buttons">
							<dxi-button icon="edit" text="Edit" [onClick]="loadItem"></dxi-button>
						</dxi-column>
                </dx-data-grid>
            <!--  <dx-speed-dial-action icon="add" hint="Add New" (onClick)="addItem()">
			</dx-speed-dial-action> -->
        
     </div>
    </div>
    <!-- end box-body -->
</div>
<!-- end box -->
</div>
</div>
</section>

