
<div class="content-body" *ngIf="displayForm">
    <section id="basic-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-basic">{{ operation }} RECORD</h4>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">

                            <form class="form" role="form" #form="ngForm" (ngSubmit)="processForm()">
                                <div class="form-body">
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="DepartmentID"
                                                    [class.text-danger]="DepartmentID.invalid &amp;&amp; DepartmentID.touched">Department
                                                </label><i class="text-danger">*</i>
                                                <ng-select [items]="departments" bindLabel="DepartmentName"
                                                    bindValue="id" #DepartmentID="ngModel" name="DepartmentID"
                                                    [(ngModel)]="obj.DepartmentID"
                                                    [class.is-invalid]="DepartmentID.invalid &amp;&amp; DepartmentID.touched"
                                                    placeholder="Select Department..." required></ng-select>
                                                <div *ngIf="DepartmentID.invalid &amp;&amp; DepartmentID.touched">
                                                    <small *ngIf="DepartmentID.errors?.required"
                                                        class="text-danger">Department is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="shift_template_id"
                                                    [class.text-danger]="shift_template_id.invalid &amp;&amp; shift_template_id.touched">Shift
                                                    Template</label><i class="text-danger">*</i>
                                                <ng-select [items]="shift_templates" bindLabel="shift_template"
                                                    bindValue="id" #shift_template_id="ngModel" name="shift_template_id"
                                                    [(ngModel)]="obj.shift_template_id"
                                                    [class.is-invalid]="shift_template_id.invalid &amp;&amp; shift_template_id.touched"
                                                    placeholder="Select Shift Template..." required></ng-select>
                                                <div
                                                    *ngIf="shift_template_id.invalid &amp;&amp; shift_template_id.touched">
                                                    <small *ngIf="shift_template_id.errors?.required"
                                                        class="text-danger">Shift Template is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <button type="button" class="btn btn-warning mr-1" (click)="resetForm()">
                                        Cancel
                                    </button>
                                    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
                                        {{operation}}
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="content-body">
    <section id="basic-form-layouts">
        <div class="row match-height">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="box-title">List of Shift Configuration</h4>
                        <div class="box-tools pull-right">
                            <button class="btn btn-primary btn-sm" type="button" (click)="showForm()"><span
                                    class="fa fa-plus"></span>
                                Add New</button>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <div class="table-responsive">

                                <dx-data-grid class="dx-card wide-card" [dataSource]="data" [showBorders]="false"
                                    keyExpr="id" [focusedRowEnabled]="true" [focusedRowIndex]="0"
                                    [columnAutoWidth]="true" [columnHidingEnabled]="true">
                                    <dxo-paging [pageSize]="10"></dxo-paging>
                                    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
                                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                                    <dxi-column dataField="DepartmentName" caption="Department Name">
                                    </dxi-column>
                                    <dxi-column dataField="shift_template" caption="Shift Template">
                                    </dxi-column>

                                    <dxi-column type="buttons">
                                        <dxi-button icon="edit" text="Edit" [onClick]="loadItem"></dxi-button>
                                    </dxi-column>
                                </dx-data-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>