<div class="content-body" *ngIf="displayForm">
    <section id="basic-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-basic">{{ operation }} RECORD</h4>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">

                            <form #form="ngForm" (submit)="processForm()">
                                <mat-horizontal-stepper [linear]="isLinear" #stepper>
                                    <mat-step #order="ngModelGroup" ngModelGroup="order"
                                        [stepControl]="form.controls.order" [editable]="isEditable">
                                        <ng-template matStepLabel>Add Task Note Info</ng-template>
                                        <div class="panel-body">
                                            <div class="row">

                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-md-4 form-control-label" for="TaskNote"
                                                            [class.text-danger]="TaskNote.invalid &amp;&amp; TaskNote.touched">Task
                                                            Note</label>
                                                        <div class="col-md-8">
                                                            <textarea id="TaskNote" name="TaskNote"
                                                            class="form-control" [(ngModel)]="obj.TaskNote" required
                                                            #TaskNote="ngModel"
                                                            [class.is-invalid]="TaskNote.invalid &amp;&amp; TaskNote.touched"
                                                            placeholder="Enter Task Note..." cols="3" rows="2"></textarea>
                                                            <div *ngIf="TaskNote.invalid &amp;&amp; TaskNote.touched">
                                                                <small *ngIf="TaskNote.errors?.required"
                                                                    class="text-danger">Task Note is Required</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-md-4 form-control-label" for="TaskStatusID"
                                                            [class.text-danger]="TaskStatusID.invalid &amp;&amp; TaskStatusID.touched">Task
                                                            Status
                                                            </label>
                                                        <div class="col-md-8">
                                                            <ng-select [items]="taskstatus" bindLabel="TaskStatus"
                                                                bindValue="id" [(ngModel)]="obj.TaskStatusID"
                                                                name="TaskStatusID" required #TaskStatusID="ngModel"
                                                                [class.is-invalid]="TaskStatusID.invalid &amp;&amp; TaskStatusID.touched"
                                                                placeholder="Select Task Status..."></ng-select>
                                                            <div
                                                                *ngIf="TaskStatusID.invalid &amp;&amp; TaskStatusID.touched">
                                                                <small *ngIf="TaskStatusID.errors?.required"
                                                                    class="text-danger">Task Status is
                                                                    Required</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.box-body -->
                                        <div class="panel-footer">
                                            <button type="button" class="btn btn-default"
                                                (click)="hideForm()">Cancel</button> &nbsp;
                                            <button type="button" matStepperNext class="btn btn-primary pull-right"
                                                (click)="onConfirm()" [disabled]="order.invalid">Next</button>&nbsp;
                                        </div>
                                    </mat-step>
                                    <mat-step [editable]="isEditable">
                                        <ng-template matStepLabel>Confirmation</ng-template>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-md-4 form-control-label" for="TaskID">Task
                                                            </label>
                                                        <div class="col-md-8">
                                                            {{ obj.Task }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-md-4 form-control-label" for="TaskNote">Task
                                                            Note</label>
                                                        <div class="col-md-8">
                                                            {{ obj.TaskNote }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-md-4 form-control-label"
                                                            for="TaskStatusID">Task Status </label>
                                                        <div class="col-md-8">
                                                            {{ obj.TaskStatus }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <button type="button" matStepperPrevious
                                                class="btn btn-primary">Back</button>&nbsp;
                                            <button type="submit" matStepperNext
                                                class="btn btn-primary pull-right">Confirm
                                                Application</button>&nbsp;
                                        </div>
                                    </mat-step>
                                    <mat-step>
                                        <ng-template matStepLabel>Completed</ng-template>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-md-4 form-control-label" for="TaskID">Task
                                                            </label>
                                                        <div class="col-md-8">
                                                            {{ obj.Task }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-md-4 form-control-label" for="TaskNote">Task
                                                            Note</label>
                                                        <div class="col-md-8">
                                                            {{ obj.TaskNote }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-md-4 form-control-label"
                                                            for="TaskStatusID">Task Status </label>
                                                        <div class="col-md-8">
                                                            {{ obj.TaskStatus }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <button type="button" class="btn btn-primary pull-right"
                                                (click)="stepper.reset()">New
                                                Application</button>&nbsp;
                                        </div>
                                    </mat-step>
                                </mat-horizontal-stepper>
                                <!-- /.box-footer -->
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="content-body" *ngIf="isEditForm">
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading ">
                        <!-- {{operation}} Record -->
                    </div>
                    <form #form="ngForm" (submit)="processEditForm()">
                        <mat-horizontal-stepper [linear]="isLinear" #stepper>
                            <mat-step #order="ngModelGroup" ngModelGroup="order" [stepControl]="form.controls.order"
                                [editable]="isEditable">
                                <ng-template matStepLabel>Add Task Info</ng-template>
                                <div class="panel-body">
                                    <div class="row">
    
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-4 form-control-label" for="Task"
                                                    [class.text-danger]="Task.invalid &amp;&amp; Task.touched">Task</label>
                                                <div class="col-md-8">
                                                    <input type="text" id="Task" name="Task" class="form-control"
                                                        [(ngModel)]="obj2.Task" required #Task="ngModel"
                                                        [class.is-invalid]="Task.invalid &amp;&amp; Task.touched"
                                                        placeholder="Enter Task...">
                                                    <div *ngIf="Task.invalid &amp;&amp; Task.touched">
                                                        <small *ngIf="Task.errors?.required" class="text-danger">Task is
                                                            Required</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-4 form-control-label" for="PriorityID"
                                                    [class.text-danger]="PriorityID.invalid &amp;&amp; PriorityID.touched">Priority</label>
                                                <div class="col-md-8">
                                                    <ng-select [items]="taskpriority" bindLabel="TaskPriority"
                                                        bindValue="id" [(ngModel)]="obj2.PriorityID" name="PriorityID"
                                                        required #PriorityID="ngModel"
                                                        [class.is-invalid]="PriorityID.invalid &amp;&amp; PriorityID.touched"
                                                        placeholder="Select Priority..."></ng-select>
                                                    <div *ngIf="PriorityID.invalid &amp;&amp; PriorityID.touched">
                                                        <small *ngIf="PriorityID.errors?.required"
                                                            class="text-danger">Priority is Required</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-4 form-control-label" for="TaskStatusID"
                                                    [class.text-danger]="TaskStatusID.invalid &amp;&amp; TaskStatusID.touched">Task
                                                    Status</label>
                                                <div class="col-md-8">
                                                    <ng-select [items]="taskstatus" bindLabel="TaskStatus" bindValue="id"
                                                        [(ngModel)]="obj2.TaskStatusID" name="TaskStatusID" required
                                                        #TaskStatusID="ngModel"
                                                        [class.is-invalid]="TaskStatusID.invalid &amp;&amp; TaskStatusID.touched"
                                                        placeholder="Select Task Status..."></ng-select>
                                                    <div *ngIf="TaskStatusID.invalid &amp;&amp; TaskStatusID.touched">
                                                        <small *ngIf="TaskStatusID.errors?.required"
                                                            class="text-danger">Task Status is Required</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-4 form-control-label" for="AssignTo"
                                                    [class.text-danger]="AssignTo.invalid &amp;&amp; AssignTo.touched">Assign
                                                    To</label>
                                                <div class="col-md-8">
                                                    <ng-select [items]="employee" bindLabel="FullName" bindValue="id"
                                                        [(ngModel)]="obj2.AssignTo" name="AssignTo" required
                                                        #AssignTo="ngModel"
                                                        [class.is-invalid]="AssignTo.invalid &amp;&amp; AssignTo.touched"
                                                        placeholder="Select Assign To..."></ng-select>
                                                    <div *ngIf="AssignTo.invalid &amp;&amp; AssignTo.touched">
                                                        <small *ngIf="AssignTo.errors?.required" class="text-danger">Assign
                                                            To is Required</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-4 form-control-label" for="ProjectID"
                                                    [class.text-danger]="ProjectID.invalid &amp;&amp; ProjectID.touched">Project</label>
                                                <div class="col-md-8">
                                                    <ng-select [items]="project" bindLabel="ProjectDescription" bindValue="id"
                                                        [(ngModel)]="obj2.ProjectID" name="ProjectID" required
                                                        #ProjectID="ngModel"
                                                        [class.is-invalid]="ProjectID.invalid &amp;&amp; ProjectID.touched"
                                                        placeholder="Select Project..."></ng-select>
                                                    <div *ngIf="ProjectID.invalid &amp;&amp; ProjectID.touched">
                                                        <small *ngIf="ProjectID.errors?.required"
                                                            class="text-danger">Project is Required</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-4 form-control-label" for="DueDate"
                                                    [class.text-danger]="DueDate.invalid &amp;&amp; DueDate.touched">Due Date</label>
                                                <div class="col-md-8">
                                                    <input type="datetime-local" id="DueDate" name="DueDate" class="form-control"
                                                        [(ngModel)]="obj2.DueDate" required #DueDate="ngModel"
                                                        [class.is-invalid]="DueDate.invalid &amp;&amp; DueDate.touched"
                                                        placeholder="Enter Task...">
                                                    <div *ngIf="DueDate.invalid &amp;&amp; DueDate.touched">
                                                        <small *ngIf="DueDate.errors?.required"
                                                            class="text-danger">Due Date is Required</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <button type="button" class="btn btn-default" (click)="hideEditForm()">Cancel</button>
                                    &nbsp;
                                    <button type="button" matStepperNext class="btn btn-primary pull-right"
                                        (click)="onConfirmEdit()" [disabled]="order.invalid">Next</button>&nbsp;
                                </div>
                            </mat-step>
                            <mat-step [editable]="isEditable">
                                <ng-template matStepLabel>Confirmation</ng-template>
                                <div class="panel-body">
                                    <div class="row">
    
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-4 form-control-label" for="Task">Task</label>
                                                <div class="col-md-8">
                                                    {{ obj2.Task }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-4 form-control-label" for="PriorityID">Priority
                                                    </label>
                                                <div class="col-md-8">
                                                    {{ obj2.TaskPriority }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-4 form-control-label" for="TaskStatusID">Task Status</label>
                                                <div class="col-md-8">
                                                    {{ obj2.TaskStatus }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-4 form-control-label" for="AssignTo">Assign To</label>
                                                <div class="col-md-8">
                                                    {{ obj2.SurName }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-4 form-control-label" for="ProjectID">Project</label>
                                                <div class="col-md-8">
                                                    {{ obj2.CustomerID }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-4 form-control-label" for="ProjectID">Due Date</label>
                                                <div class="col-md-8">
                                                    {{ obj2.DueDate }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
    
                                </div>
                                <div class="panel-footer">
                                    <button type="button" matStepperPrevious class="btn btn-primary">Back</button>&nbsp;
                                    <button type="submit" matStepperNext class="btn btn-primary pull-right">Confirm
                                        Application</button>&nbsp;
                                </div>
                            </mat-step>
                            <mat-step>
                                <ng-template matStepLabel>Completed</ng-template>
    
                                <div class="panel-footer">
                                    <button type="button" class="btn btn-primary pull-right" (click)="stepper.reset()">New
                                        Application</button>&nbsp;
                                </div>
                            </mat-step>
                        </mat-horizontal-stepper>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="content-body">
    <section id="basic-form-layouts">
        <div class="row match-height">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="box-title">List of Task</h4>

                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <div class="table-responsive">

                                <dx-data-grid class="dx-card wide-card" [dataSource]="data" [showBorders]="false"
                                    keyExpr="id" [focusedRowEnabled]="true" [focusedRowIndex]="0"
                                    [columnAutoWidth]="true" [columnHidingEnabled]="true">
                                    <dxo-paging [pageSize]="10"></dxo-paging>
                                    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
                                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                                    <dxi-column dataField="Task" caption="Task">
                                    </dxi-column>
                                    <dxi-column dataField="ProjectDescription" caption="Project">
                                    </dxi-column>
                                    <dxi-column dataField="FullName" caption="Assigned To">
                                    </dxi-column>
                                    <dxi-column dataField="TaskStatus" caption="Task Status">
                                    </dxi-column>
                                    <dxi-column dataField="TaskPriority" caption="Task Priority">
                                    </dxi-column>

                                    <dxi-column type="buttons">
                                        <dxi-button text="Add Note" [onClick]="loadItem"></dxi-button>
                                    </dxi-column>

                                    <dxi-column type="buttons">
                                        <dxi-button text="Edit Task" [onClick]="editItem"></dxi-button>
                                    </dxi-column>
                                </dx-data-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>