<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"></h4>
            </div>
            <div class="card-content">
                <div class="card-body">

                    <ul class="nav nav-tabs justify-content-start">
                        <li class="nav-item ng-star-inserted">
                            <a class="nav-link active" id="base-tab1" data-toggle="tab" aria-controls="tab1"
                                href="#tab1" aria-expanded="true">Process Payroll</a>
                        </li>
                        <li class="nav-item ng-star-inserted">
                            <a class="nav-link" id="base-tab2" data-toggle="tab" aria-controls="tab2" href="#tab2"
                                aria-expanded="false">Cancel Payroll</a>
                        </li>
                        <li class="nav-item ng-star-inserted">
                            <a class="nav-link" id="base-tab3" data-toggle="tab" aria-controls="tab3" href="#tab3"
                                aria-expanded="false">Payroll Report</a>
                        </li>
                    </ul>
                    <div class="tab-content px-1 pt-1">
                        <div role="tabpanel" class="tab-pane active " id="tab1" aria-expanded="true"
                            aria-labelledby="base-tab1">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title"> Payroll Processing</h4>

                                    </div>
                                    <div class="content-body">
                                        <section id="basic-form-layouts">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="card">

                                                        <div class="card-content collpase show">
                                                            <div class="card-body">

                                                                <form class="form" role="form" #form="ngForm"
                                                                    (ngSubmit)="processForm()">
                                                                    <div class="form-body">
                                                                        <div class="row">

                                                                            <div class="col-md-6">
                                                                                <div class="form-group row">
                                                                                    <div class="col-md-4">
                                                                                        <label for="PayrollPeriodID"
                                                                                            [class.text-danger]="PayrollPeriodID.invalid &amp;&amp; PayrollPeriodID.touched">Payroll
                                                                                            Period <i
                                                                                                class=" text-danger">*</i></label>
                                                                                    </div>
                                                                                    <div class="col-md-8">
                                                                                        <ng-select
                                                                                            [items]="payrollperiod"
                                                                                            bindLabel="PayrollPeriod"
                                                                                            bindValue="id"
                                                                                            #PayrollPeriodID="ngModel"
                                                                                            name="PayrollPeriodID"
                                                                                            [(ngModel)]="obj.PayrollPeriodID"
                                                                                            [class.is-invalid]="PayrollPeriodID.invalid &amp;&amp; PayrollPeriodID.touched"
                                                                                            placeholder="Select Payroll Period..."
                                                                                            required></ng-select>
                                                                                        <div
                                                                                            *ngIf="PayrollPeriodID.invalid &amp;&amp; PayrollPeriodID.touched">
                                                                                            <small
                                                                                                *ngIf="PayrollPeriodID.errors?.required"
                                                                                                class="text-danger">Payroll
                                                                                                Period is
                                                                                                Required</small>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                    <div class="form-actions right">

                                                                        <button type="submit" class="btn btn-primary"
                                                                            [disabled]="form.invalid">
                                    
                                                                            Process Payroll
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                    <div class="card-content collapse show">

                                        <div class="card-body">
                                            <div class="table-responsive">

                                                <dx-pivot-grid id="pivotgrid" [allowSortingBySummary]="true"
                                                    [allowFiltering]="true" [showBorders]="true"
                                                    [allowSortingBySummary]="true" [showColumnGrandTotals]="true"
                                                    [showRowGrandTotals]="true" [showRowTotals]="true"
                                                    [showColumnTotals]="true" [dataSource]="pivotGridDataSource">
                                                    <dxo-field-chooser [enabled]="true"></dxo-field-chooser>
                                                    <dxo-scrolling mode="virtual"></dxo-scrolling>
                                                    <dxo-export [enabled]="true" [printingEnabled]="true"></dxo-export>
                                                </dx-pivot-grid>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                        <div class="tab-pane" id="tab3" aria-labelledby="base-tab3">
                            <section id="basic-form-layouts">
                                <div class="row match-height">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title"> Payroll Report</h4>

                                            </div>
                                            <div class="content-body">
                                                <section id="basic-form-layouts">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="card">

                                                                <div class="card-content collpase show">
                                                                    <div class="card-body">

                                                                        <form class="form" role="form" #form3="ngForm"
                                                                            (ngSubmit)="processForm3()">
                                                                            <div class="form-body">
                                                                                <div class="row">

                                                                                    <div class="col-md-6">
                                                                                        <div class="form-group row">
                                                                                            <div class="col-md-4">
                                                                                                <label
                                                                                                    for="PayrollPeriodID3"
                                                                                                    [class.text-danger]="PayrollPeriodID3.invalid &amp;&amp; PayrollPeriodID3.touched">Payroll
                                                                                                    Period <i
                                                                                                        class=" text-danger">*</i></label>
                                                                                            </div>
                                                                                            <div class="col-md-8">
                                                                                                <ng-select
                                                                                                    [items]="payrollperiod2"
                                                                                                    bindLabel="PayrollPeriod"
                                                                                                    bindValue="id"
                                                                                                    #PayrollPeriodID3="ngModel"
                                                                                                    name="PayrollPeriodID3"
                                                                                                    [(ngModel)]="obj.PayrollID"
                                                                                                    [class.is-invalid]="PayrollPeriodID3.invalid &amp;&amp; PayrollPeriodID3.touched"
                                                                                                    placeholder="Select Payroll Period..."
                                                                                                    required>
                                                                                                </ng-select>
                                                                                                <div
                                                                                                    *ngIf="PayrollPeriodID3.invalid &amp;&amp; PayrollPeriodID3.touched">
                                                                                                    <small
                                                                                                        *ngIf="PayrollPeriodID3.errors?.required"
                                                                                                        class="text-danger">Payroll
                                                                                                        Period is
                                                                                                        Required</small>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>

                                                                                </div>
                                                                            </div>
                                                                            <div class="form-actions right">

                                                                                <button type="submit"
                                                                                    class="btn btn-primary"
                                                                                    [disabled]="form3.invalid">
                                            
                                                                                    Generate Report
                                                                                </button>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                            <div class="card-content collapse show">

                                                <div class="card-body">
                                                    <div class="table-responsive">

                                                        <dx-pivot-grid id="pivotgrid" [allowSortingBySummary]="true"
                                                            [allowFiltering]="true" [showBorders]="true"
                                                            [allowSortingBySummary]="true"
                                                            [showColumnGrandTotals]="true" [showRowGrandTotals]="true"
                                                            [showRowTotals]="true" [showColumnTotals]="true"
                                                            [dataSource]="pivotGridDataSource">
                                                            <dxo-field-chooser [enabled]="true"></dxo-field-chooser>
                                                            <dxo-scrolling mode="virtual"></dxo-scrolling>
                                                            <dxo-export [enabled]="true" [printingEnabled]="true">
                                                            </dxo-export>
                                                        </dx-pivot-grid>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>

                        <div class="tab-pane" id="tab2" aria-labelledby="base-tab2">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title" id="horz-layout-basic">Payroll Cancellation</h4>
                                </div>
                                <div class="card-content collpase show">
                                    <div class="card-body">

                                        <form class="form" role="form" #form2="ngForm" (ngSubmit)="processForm2()">
                                            <div class="form-body">
                                                <div class="row">

                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <div class="col-md-4">
                                                                <label for="PayrollPeriodID2"
                                                                    [class.text-danger]="PayrollPeriodID2.invalid &amp;&amp; PayrollPeriodID2.touched">Payroll
                                                                    Period <i class=" text-danger">*</i></label>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <ng-select [items]="payrollperiod2"
                                                                    bindLabel="PayrollPeriod" bindValue="id"
                                                                    #PayrollPeriodID2="ngModel" name="PayrollPeriodID2"
                                                                    [(ngModel)]="obj2.PayrollPeriodID"
                                                                    [class.is-invalid]="PayrollPeriodID2.invalid &amp;&amp; PayrollPeriodID2.touched"
                                                                    placeholder="Select Payroll Period..." required>
                                                                </ng-select>
                                                                <div
                                                                    *ngIf="PayrollPeriodID2.invalid &amp;&amp; PayrollPeriodID2.touched">
                                                                    <small *ngIf="PayrollPeriodID2.errors?.required"
                                                                        class="text-danger">Payroll Period is
                                                                        Required</small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="form-actions right">

                                                <button type="submit" class="btn btn-primary"
                                                    [disabled]="form2.invalid">
            
                                                    Cancel Payroll
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>